@import '../assets/utils';

.alternating-table {
  width: 100%;
  border-collapse: collapse;

  tr:not(.header) {
    @extend %alternating-item;
  }

  tr.header.h3, tr.header.h2 {
    td, th {
      padding: 0.25em 0.8rem;
      padding-top: 1em;
      vertical-align: bottom;
    }
  }

  td {
    padding: 0.25em 1.6rem;
  }
}
