.pagination {
  display: block;
  margin: 1em auto;
  text-align: center;

  &.pagination-ajax {
    width: 90%;

    .previous-link {
      float: left;
    }
    .next-link {
      float: right;
    }
  }
}

.pagination a, .pagination span {
  line-height: 3rem;
  display: inline-block;
  height: 3rem;
  padding: 0 0.8rem;
  text-align: center;
}

.pagination a:hover {
  background-color: $accentSoftColor;
}

.pagination .active {
  background-color: $mainSofterColor;
}
