{% from "_macros/user_link.html" import user_link %}

{% extends "layout.html" %}
{% set page_title = "Line Blocks" %}
{% block header_scripts %}
  <meta name="arcade-game-id" content="{{ game_id }}" />

  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/arcade.min.css') }}">
{% endblock %}
{% block body %}
<h1>Line Blocks</h1>
<div id="blocks-mount"></div>

<h3>Highscores</h3>
<table class="alternating-table">
{% for score in highscores %}
  <tr>
    <td>
      {{ score.score }}
    </td>
    <td>
      {{ user_link(score.user) }}
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}


{% block footer_scripts %}
  <script src="{{ include_static('js/LineBlocks.min.js') }}"></script>
{% endblock %}
