{% extends "layout.html" %}
{% set page_title = "Line Blocks" %}
{% block header_scripts %}
  <script src="{{ include_static('js/LineBlocks.min.js') }}"></script>
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/arcade.min.css') }}">
{% endblock %}
{% block body %}
<h1>Line Blocks</h1>
<div id="blocks-mount"></div>
<table>
  <tr>
    <th>
      All-time Highscores
    </th>
  </tr>
  {% for hs in highscores %}
  <tr>
    <td>
      {{ hs.score }} by {{ hs.user_key }}
    </td>
  </tr>
  {% endfor %}
</table>

<table>
  <tr>
    <th>
      Monthly Highscores
    </th>
  </tr>
  {% for hs in highscores %}
  <tr>
    <td>
      {{ hs.score }} by {{ hs.user_key }}
    </td>
  </tr>
  {% endfor %}
</table>

Your highscores

Monthly
{{ monthly_highscore }}

All-time
{{ all_time_highscore }}

{% endblock %}
