{% from "_macros/forms.html" import form_row %}
{% extends "layout.html" %}
{% set page_title = board.title %}
{% block header_scripts %}
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/forums.min.css') }}">
{% endblock %}
{% block body %}
<h1>Viewing Board: {{ board.title }}</h1>
<span class="forum-breadcrumb center">
  <a href="/forums/">Forums</a> &#187; {{ board.title }}
</span>

<a class="write-thread-link" href="#write-thread">
  <img src="/static/img/icons/pencil.png">
  Make a New Thread
</a>

<h2 class="forum-board-header">
  <div class="forum-thread-icon">
    <img src="{{ random_item_image() }}" />
  </div>
  <div class="forum-thread-content">
    <div class="forum-thread-info">
      {{ board.title }}
    </div>
    <div class="forum-thread-replies">
      Replies
    </div>
    <div class="forum-latest-post">
      Latest Post
    </div>
  </div>
</h2>
{% for thread in pagination.items %}
<div class="forum-thread">
  <div class="forum-thread-icon">
    <img src="/static/img/icons/lock.png" />
    {% if thread.is_pinned %}
    <img src="/static/img/icons/pin.png">
    {% endif %}
    {% if thread.is_locked %}
    <img src="/static/img/icons/lock.png">
    {% endif %}
  </div>
  <div class="forum-thread-content">
    <div class="forum-thread-info">
      <a href="/forums/thread/{{ thread.id }}/" class="forum-thread-title">
        {{ thread.title }}
      </a>
      <small>
        Started by <a href="{{ thread.author.url() }}">
          {{ thread.author.name }}</a>
        <span class="line">({{ thread.date_created|relative_time }})</span>
      </small>
    </div>
    <div class="forum-thread-replies">
      {{ thread.reply_count() }}
    </div>
    <div class="forum-latest-post">
      {% set last_post = thread.latest_post() %}
      {% if last_post is not none %}
      {% if last_post.author.companion %}
      <img src="{{ last_post.author.companion.image() }}" />
      {% endif %}
      <p>
        by <a href="/user/{{ last_post.author.name }}">
          {{ last_post.author.name }}</a>
        <span class="line">({{ last_post.date_created|relative_time }})</span>
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}

<div class="center">
{{ pagination.render() }}
</div>

<h2 class="forum-board-header" id="write-thread">
  <div class="forum-thread-icon">
    <img src="{{ random_item_image() }}" />
  </div>
  Make a New Thread
</h2>
<form method="post" class="validated-form">
  <table class="form-table">
    {{ form_row(form.title) }}
    {{ form_row(form.body) }}
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Post New Thread" name="post">
        <input type="submit" value="Preview Thread" name="preview">
      </td>
    </tr>
  </table>
  {{ form.csrf_token }}
</form>
{% endblock %}

{% block admin_actions %}
<a href="/admin/forums/boards/{{ board.canon_name }}/" class="button">Edit Board</a>
{% endblock %}
