{% from "_macros/pagination.html" import pagination %}
{% extends "layout.html" %}
{% set page_title = board.title %}
{% block header_scripts %}
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/forums.min.css') }}">
{% endblock %}
{% block body %}
<h1>Viewing Board: {{ board.title }}</h1>
<span class="forum-breadcrumb">
  <a href="/forums/">Forums</a> &#187; {{ board.title }}
</span>
<div class="center">
  {{ pagination(page_count=page_count) }}
</div>


<h2 class="forum-board-header">
  <div class="forum-board-header-icon">
    <img src="{{ random_item_image() }}" />
  </div>
  <div class="forum-board-header-content">
    Threads in {{ board.title }}
    <a class="write-thread-link" href="#write-thread">
      <img src="/static/img/icons/pencil.png">
      Make a New Thread
    </a>
  </div>
</h2>
<table class="forum-board-table">
  <tr>
    <th>
    </th>
    <th>
      Thread Title
    </th>
    <th>
      Replies
    </th>
    <th>
      Started By
    </th>
    <th>
      Last Post
    </th>
  </tr>

  {% for thread in threads %}
    {% set author_name = thread.author_id|name_from_author_id %}
    <tr class="forum-thread-row {{ 'highlight' if thread.is_pinned else '' }}">
      <td class="forum-thread-icon">
        {% if thread.is_pinned %}
        <img src="/static/img/icons/pin.png">
        {% endif %}
        {% if thread.is_locked %}
        <img src="/static/img/icons/lock.png">
        {% endif %}
      </td>
      <td class="forum-thread-info">
        <a href="/forums/thread/{{ thread.id }}/">
          <span class="forum-thread-link">{{ thread.title }}</span>
          <p class="small">Created on {{ thread.date_created|expanded_relative_time }}</p>
        </a>
      </td>
      <td>
        {{ thread.id|count_thread_posts - 1 }}
      </td>
      <td>
        <a href="/user/{{ author_name }}">{{ author_name }}</a>
      </td>
      {% set last_post = thread.id|last_post_thread %}
      <td class="forum-latest-post">
        {% if last_post is not none %}
          {% set author_name = last_post.author_id|name_from_author_id %}
          &nbsp;by&nbsp;
          <a href="/user/{{ author_name }}">{{ author_name }}</a>
          &nbsp;{{ last_post.date_created|relative_time }}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

<div class="center">
{{ pagination(page_count=page_count) }}
</div>

<h2 class="forum-board-header" id="write-thread">
  <div class="forum-board-header-icon">
    <img src="{{ random_item_image() }}" />
  </div>
  Make a New Thread
</h2>
<form method="post" class="validated-form" data-error-id="forum-board-error">
  <table class="form-table">
    <tr>
      <td colspan="2" id="forum-board-error"></td>
    </tr>
    <tr>
      <td class="label"><label for="forum-thread-title">Thread Title</label></td>
      <td>
        <input type="text" placeholder="Thread Title" id="forum-thread-title" name="title"
          data-validators="required not_empty min:3">
      </td>
    </tr>
    <tr>
      <td class="label"><label for="forum-thread-body">Thread Body</label></td>
      <td>
        <textarea placeholder="Thread Content" id="forum-thread-body" name="body"
          data-validators="required not_empty min:2"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Post New Thread" name="post">
        <input type="submit" value="Preview Thread" name="preview">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
