{% extends "layout.html" %}
{% set page_title = "Forums" %}
{% block header_scripts %}
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/forums.min.css') }}">
{% endblock %}
{% block body %}
<div class="forum-main-header">
  <h1>
    <i class="fa fa-fw fa-comment" aria-hidden="true"></i>
    The Saylua Forums
  </h1>
  <div class="forum-main-navigation">
    <a href="/forums/">My Posts</a> |
    <a href="/forums/">My Threads</a> |
    <a href="/forums/">My Subscriptions</a> |
    <a href="/forums/">My Mentions</a>
  </div>
</div>
{% for category in categories %}
<ul class="forum-main-list">
  <li class="forum-category-header">
    <div class="forum-board-icon">
      <img src="{{ random_pet_image() }}" />
    </div>
    <div class="forum-category-text">
      {{ category.title }}
      <span class="latest-post-header">
        Latest Post
      </span>
    </div>
  </li>
  {% for board in category.boards %}
  <li class="forum-board-row">
    <img src="{{ random_item_image() }}" class="forum-board-icon faded" />
    <div class="forum-row-content">
      <a href="/forums/board/{{ board.url_slug }}/" class="forum-board-text">
        <span class="forum-board-link">{{ board.title }}</span>
        <p>
          {{ board.description }}
        </p>
      </a>
      <div class="forum-latest-post">
        {% set last_post = board.id|last_post_board %}
        {% if last_post is not none %}
        <img src="/static/img/pets/eydrun.png" />
        <p>
          <a href="/forums/thread/{{ last_post.thread_id }}">{{ (last_post.thread_id|thread_by_id).title }}
          </a> by <a href="/user/{{ last_post.author.name }}">
            {{ last_post.author.name }}</a>
          <span class="line">({{ last_post.date_created|relative_time }})</span>
        </p>
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% endblock %}
