{% from "_macros/pagination.html" import pagination %}
{% extends "layout.html" %}
{% set page_title = "Bookshelf" %}
{% block header_scripts %}
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/books.min.css') }}">
{% endblock %}
{% block body %}
<h1>Your Bookshelf</h1>
<div class="center full padded">
{{ pagination() }}
</div>
<div id="book-shelf">
  {% for i in range(4) %}
  <div class="shelf-row">
    {% for j in range(5) %}
      <div class="book-square">
        <a href="/read/1/">
          Lorem Ipsum
          <img src="/static/img/items/160/bananas.png" class="item">
        </a>
      </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<div class="center full padded">
{{ pagination() }}
</div>
{% endblock %}
