{% extends "layout.html" %}
{% set page_title = "Registration" %}
{% block body %}
<h1>Confirmation Email Sent</h1>
<p>
  A confirmation email has been sent to your email address at
  <strong>{{ g.user.email }}</strong>. If this email is incorrect,
  <a href="/settings/email/">click here to change your email address</a>.
</p>
<p>
  You should receive this email within the next 24 hours. Don't forget to check
  your spam folder if you have trouble finding the email.
</p>
<form method="post" class="center" action="/register/email/">
  <input type="submit" name="resend" value="Resend Confirmation?" />
</form>
{% endblock %}
