{% extends "layout.html" %}
{% set page_title = "Email Confirmed!" %}
{% block body %}
<h1>Email Confirmed!</h1>
<p>
  Unnamed Mayor NPC says,
  "Hey, thanks for taking the time to confirm your email address! I know filling
  out forms usually isn't what you wish you were doing with your time, but it
  really helps us out with our recordkeeping."
</p>
<p>
  "You should be a fully registered citizen now, so I can let you speak at the
  forums, send mail, and do a few other things. Enjoy!"
</p>
{% endblock %}
