{% extends "layout.html" %}
{% set page_title = "Registration" %}
{% block body %}
<h2>Register a New Account on Saylua</h2>

<div id="register-error"></div>
<form class="validated-form" method="post" id="register-form" data-error-id="register-error">
  <table class="form-table center">
    <tr>
      <th class="label">
        <label for="username-field">Username</label>
      </th>
      <td>
        <input type="text" placeholder="Username" name="username" id="username-field"
          data-validators="required min:3 max:40 username_chars no_repeated_underscores">
        <small class="form-tip">Valid characters: alphanumeric and -_.+!*()</small>
      </td>
    </tr>
    <tr>
      <th class="label">
        <label for="password-field">Password</label>
      </th>
      <td>
        <input type="password" placeholder="Password" name="password" id="password-field"
          data-validators="required min:5">
        <small class="form-tip">Passwords must be at least 5 characters. </small>
      </td>
    </tr>
    <tr>
      <th class="label">
        <label for="password-field-2">Confirm Password</label>
      </th>
      <td>
        <input type="password" placeholder="Confirm Password" name="password2" id="password-field-2"
          data-validators="match_password:password-field">
      </td>
    </tr>
    <tr>
      <th class="label">
        <label for="email-field">Email</label>
      </th>
      <td>
        <input type="text" placeholder="Email" name="email" id="email-field"
          data-validators="required email">
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="checkbox" name="tos_agreed"
          data-errors='{"required": "You must agree to the Terms and Service. "}'
          data-validators="required" id="i-agree-field">
        <label for="i-agree-field">I agree to the Terms of Service</label>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Register" name="register">
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="left">
        <p><a href="/login/recover/">Lost username or password?</a></p>
        <p><a href="/login/">Login to an existing account!</a></p>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
