@import 'assets/variables';
@import 'assets/transitions';

h2.forum-board-header {
  display: flex;
  margin-bottom: 0.5em;
  padding-top: 1em;
  padding-bottom: 0;

  align-items: flex-end;

  .forum-board-header-icon {
    overflow: hidden;
    height: 2.8rem;
    margin-right: 0.8rem;

    flex-grow: 0;
    flex-shrink: 0;
    img {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  .forum-board-header-content {
    display: flex;

    align-items: baseline;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-between;
  }

  a.write-thread-link {
    font-size: $baseFontSize;
  }
}

.forum-board-table {
  width: 100%;
  margin-bottom: 4rem;
  border-collapse: collapse;

  td, th {
    padding: 0.5em 0.4rem;
  }

  th {
    font-size: $smallFontSize;
    font-weight: normal;
    text-align: left;
    background: none;
  }

  tr.alternating-row {
    @include fast-color-trans;
    &:nth-child(even) {
      background: $mainSoftestColor;
    }

    &.highlight:nth-child(n) {
      background-color: $highlightSoftColor;
    }

    &.highlight:nth-child(even) {
      background-color: $highlightColor;
    }

    // Note: We need the nth-child(n) to overwrite nth-child(even)
    &:nth-child(n):hover {
      background-color: $accentSoftColor;
    }
  }

  .forum-thread-info {
    width: 50%;

    a {
      line-height: normal;
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    a:hover .forum-thread-link {
      display: block;
      width: 100%;
      text-decoration: underline;
    }

    a small,
    a:hover small {
      display: block;
      width: 100%;
      margin: 0.5rem 0;
      text-decoration: none;
      color: $black;
    }
  }

  .forum-thread-icon {
    width: 4.8rem;
    text-align: center;
  }

  .forum-latest-post {
    font-size: 1.2rem;
    width: 25%;
  }
}
