@import 'assets/variables';
@import 'assets/transitions';

.forum-main-header {
  line-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.forum-main-navigation {
  margin-top: 1em;
}

ul.forum-main-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.5em 0 4em 0;
  padding: 0;

  align-items: stretch;
  justify-content: flex-start;

  li {
    @include fast-color-trans;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em 1.6rem;

    align-items: center;
    justify-content: space-between;

    &.forum-category-header {
      font-family: $headerFont;
      font-size: 2rem;
      line-height: 120%;
      min-height: 6rem;
      padding: 0 0.8rem;
      letter-spacing: 1px;
      border-bottom: $neutralDarkColor 1px solid;

      align-items: flex-end;
      justify-content: flex-start;

      .forum-board-icon {
        overflow: hidden;
        height: 3.5rem;
        transition: height 1s;
        transition-delay: 0.1s;

        &:hover {
          height: 5rem;
        }
      }

      .forum-category-text {
        display: flex;
        padding: 0.25em 0.8rem;

        align-items: baseline;
        flex-grow: 1;
        justify-content: space-between;
      }

      @media (max-width: 500px) {
        .latest-post-header {
          display: none;
        }
      }
    }

    &.forum-board-row {
      border-bottom: 1px $mainSofterColor solid;

      &:hover {
        background-color: $accentSoftColor;
      }
    }
  }

  .forum-board-icon {
    width: 6rem;
    margin-right: 0.8rem;

    flex-grow: 0;
    flex-shrink: 0;
  }

  a.forum-board-text {
    font-size: 1.8rem;
    line-height: 120%;
    display: block;
    overflow: auto;
    height: 100%;
    text-decoration: none;

    flex-grow: 1;

    &:hover .forum-board-link {
      text-decoration: underline;
    }

    p,
    &:hover p {
      font-size: 1.6rem;
      line-height: 120%;
      margin: 0;
      text-decoration: none;
      color: $black;
      border: 0;
    }
  }
}

.forum-row-content {
  display: flex;
  flex-direction: row;

  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-between;

  @media (max-width: 500px) {
    flex-direction: column;

    align-items: stretch;

    .forum-latest-post {
      width: 100%;
      padding-top: 1em;

      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

.latest-post-header {
  font-size: $baseFontSize;
  line-height: 120%;
  width: 40%;
}
