@import 'assets/variables';
@import 'assets/transitions';
$boardIconSize: 6rem;

.forum-main-header {
  line-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
  justify-content: center;
}

ul.forum-main-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.5em 0 4em 0;
  padding: 0;

  align-items: stretch;
  justify-content: flex-start;

  li {
    @include fast-color-trans;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em 1.6rem;

    align-items: center;
    justify-content: space-between;

    &.forum-category-header {
      font-family: $headerFont;
      font-size: 2rem;
      font-weight: bold;
      line-height: 120%;
      padding-top: 0.5em;
      padding-bottom: 0.25em;
      text-align: left;
      letter-spacing: 1px;
      color: $mainDarkColor;
      border-bottom: $neutralDarkColor 1px solid;
      background: $mainSofterColor;
    }

    &.forum-board-row {
      border-bottom: 1px $mainSofterColor solid;

      &:hover {
        background-color: $accentSoftColor;
      }
    }
  }

  .forum-board-icon {
    width: $boardIconSize;
    height: $boardIconSize;
    margin-right: 0.8rem;

    flex-grow: 0;
    flex-shrink: 0;
  }

  .forum-board-info {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;

    @media (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;

      .forum-latest-post {
        width: 100%;
        padding-top: 1em;
      }
    }
  }

  .forum-latest-post {
    font-size: 1.2rem;
    line-height: 150%;
    display: flex;
    flex-direction: row;
    width: 30%;

    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;

    img {
      width: 5rem;
      height: 5rem;
      margin-right: 0.8rem;
      border: $mainSofterColor 1px dotted;
    }
  }

  a.forum-board-text {
    font-size: 1.8rem;
    line-height: 120%;
    display: block;
    overflow: auto;
    height: 100%;
    text-decoration: none;

    flex-grow: 1;

    &:hover .forum-board-link {
      text-decoration: underline;
    }

    p,
    &:hover p {
      font-size: 1.6rem;
      line-height: 120%;
      margin: 0;
      text-decoration: none;
      color: $black;
      border: 0;
    }
  }
}
