@import 'assets/variables';
@import 'assets/transitions';

.forum-posts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.8rem;

  align-items: stretch;
}

.forum-thread-actions {
  display: flex;
  flex-direction: row;
  text-align: center;

  justify-content: center;
  padding-bottom: 1em;
}

.forum-post {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
  border: 1px $mainSofterColor solid;

  .forum-post-info {
    width: 23%;
    padding: 0.5em 0.8rem;
    text-align: center;
    background: $mainSoftestColor;

    flex-grow: 0;
    flex-shrink: 0;
  }

  .forum-post-body {
    padding: 0.5em 0.8rem;

    flex-grow: 1;
    flex-shrink: 1;

    .forum-post-metadata {
      font-size: $smallFontSize;
      line-height: 120%;
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 2em;

      justify-content: space-between;

      @media (max-width: 500px) {
        flex-direction: column;

        align-items: center;
      }
    }
  }
}
