*.pyc
.DS_Store
node_modules
**/static/js/*
**/static/css/*
!**/static/js/lib
.vagrant
build
yarn.lock
secure.py

# Ignore all third party dependencies other than bcrypt.
lib/*
!lib/bcrypt*

# Vagrant nonsense
ubuntu*.log

# Noddy nonsense
adminer
