__pycache__/
*.py[cod]
*$py.class
.DS_Store
node_modules
**/static/js/*
**/static/css/*
!**/static/js/lib
.vagrant
build
npm-debug.log
yarn.lock
secure.py
local_settings.py

# Ignore all third party dependencies other than bcrypt.
lib/*
!lib/bcrypt*

# Vagrant nonsense
ubuntu*.log

# Noddy nonsense
adminer

# Testing nonsense
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.tmp/
