# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
#
# bcrypt dependency deferred in favor of manually adding a version that works.
Flask==0.10
py2casefold
python-dateutil
Flask-WTF
git+https://github.com/brmullikin/flask-markdown
pillow
flake8
mdx_linkify
