@import '../assets/variables';
@import '../assets/transitions';

.switch {
  display: inline-block;
  margin: auto;
}

.switch label b {
  @include fast-color-trans;
  font-weight: normal;
  display: block;
  float: left;
  min-width: 50px;
  padding: 3px 8px;
  cursor: pointer;
  text-align: center;
  border: $mainsoftcolor 1px solid;
  border-left: 0px;
  background: #fff;
}

.switch label:first-of-type b {
  border-left: $mainsoftcolor 1px solid;
  border-radius: 8px 0 0 8px;
}

.switch label:last-of-type b {
  border-radius: 0 8px 8px 0;
}

.switch label b:hover {
  background: $accentsoft;
}

.switch input:checked + b {
  background: $neutralcolor;
}

.switch input {
  display: none;
}
