{% from "_macros/forms.html" import form_row %}

{% extends "settings/template.html" %}
{% set section_title = "Profile Details" %}
{% block section_body %}
<p>
  These fields contain information about yourself that you'd like to have shown on your profile.
  They are entirely optional.
</p>
<form method="post" class="validated-form">
  <table class="form-table">
    {{ form_row(form.status, tip="Your status is a bit of text displayed next to your name.") }}
    {{ form_row(form.gender) }}
    {{ form_row(form.pronouns) }}
    {{ form_row(form.bio, placeholder="Write a bit about yourself for others to see.") }}
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Save Details">
      </td>
    </tr>
  </table>
  {{ form.csrf_token }}
</form>
{% endblock %}
