{% extends "settings/template.html" %}
{% set section_title = "Profile Details" %}
{% block section_body %}
<p>
  These fields contain information about yourself that you'd like to have shown on your profile.
  They are entirely optional.
</p>
<form method="post" class="validated-form" data-error-id="user-settings-profile-error">
  <table class="form-table full">
    <tr>
      <td colspan="2" id="user-settings-profile-error"></td>
    </tr>
    <tr>
      <th class="label">
        {{ form.status.label }}
      </th>
      <td>
        {{ form.status(placeholder="Your Status") }}
        <small class="form-tip">Your status is a bit of text displayed next to your name. </small>
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.gender.label }}
      </th>
      <td>
        {{ form.gender() }}
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.pronouns.label }}
      </th>
      <td>
        {{ form.pronouns() }}
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.bio.label }}
      </th>
      <td>
        {{ form.bio(placeholder="Write a bit about yourself for others to see. ") }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Save Details">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
