{% from "_macros/forms.html" import form_row %}

{% extends "settings/template.html" %}
{% set section_title = "Change Email" %}
{% block section_body %}
<p>
  If you change your email address, you will have to validate your new email.
</p>
<form method="post" class="validated-form">
  <table class="form-table">
    {{ form_row(form.email) }}
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Change Email">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
