{% from "_macros/forms.html" import form_row %}

{% extends "settings/template.html" %}
{% set section_title = "General" %}
{% block section_body %}
<form method="post">
  <table class="form-table settings-toggle-form">
    {{ form_row(form.notified_on_pings) }}
    {{ form_row(form.autosubscribe_threads) }}
    {{ form_row(form.autosubscribe_posts) }}
    <tr>
      <td colspan="2" class="center">
        <input type="submit" value="Save Settings" name="submit" />
      </td>
    </tr>
  </table>
  {{ form.csrf_token }}
</form>
{% endblock %}
