{% extends "settings/template.html" %}
{% set section_title = "General" %}
{% block section_body %}
<form method="post">
  <table class="form-table settings-toggle-form">
    <tr>
      <th class="label">
        {{ form.notified_on_pings.label }}
      </th>
      <td>
        <div class="switch">
          {% for subfield in form.notified_on_pings %}
            {{ subfield }} {{ subfield.label }}
          {% endfor %}
        </div>
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.autosubscribe_threads.label }}
      </th>
      <td>
        <div class="switch">
          {% for subfield in form.autosubscribe_threads %}
            {{ subfield }} {{ subfield.label }}
          {% endfor %}
        </div>
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.autosubscribe_posts.label }}
      </th>
      <td>
        <div class="switch">
          {% for subfield in form.autosubscribe_posts %}
            {{ subfield }} {{ subfield.label }}
          {% endfor %}
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Save Settings" name="submit">
      </td>
    </tr>
  </table>
  {{ form.csrf_token }}
</form>
{% endblock %}
