{% from "_macros/forms.html" import form_row %}

{% extends "settings/template.html" %}
{% set section_title = "Change Password" %}
{% block section_body %}
<form method="post" class="validated-form">
  <table class="form-table">
    {{ form_row(form.old_password, tip="For security, please enter your old password.") }}
    {{ form_row(form.new_password) }}
    {{ form_row(form.confirm_password) }}
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Change Password">
      </td>
    </tr>
  </table>
  {{ form.csrf_token }}
</form>
{% endblock %}
