{% extends "layout.html" %}
{% set page_title = "User Settings: " + section_title %}
{% block header_scripts %}
<link rel="stylesheet" type="text/css" href="{{ include_static('css/users.min.css') }}">
{% endblock %}
{% block body %}
<h1>User Settings: {{ section_title }} </h1>
<div class="settings-row">
  <div class="settings-menu">
    <a href="/settings/"{%- if request.url_rule.endpoint == 'user_settings' %} class="active"{% endif %}>
      General Settings
    </a>
    <a href="/settings/details/"{%- if request.url_rule.endpoint == 'user_settings_details' %} class="active"{% endif %}>
      User Details
    </a>
    <a href="/settings/username/"{%- if request.url_rule.endpoint == 'user_settings_username' %} class="active"{% endif %}>
      Change Username
    </a>
    <a href="/settings/email/"{%- if request.url_rule.endpoint == 'user_settings_email' %} class="active"{% endif %}>
      Change Email
    </a>
    <a href="/settings/password/"{%- if request.url_rule.endpoint == 'user_settings_password' %} class="active"{% endif %}>
      Change Password
    </a>
  </div>
  <div class="settings-body">
    {% block section_body %}{% endblock %}
  </div>
</div>
{% endblock %}
