{% extends "layout.html" %}
{% set page_title = "User Settings: " + section_title %}
{% block body %}
<h1>User Settings: {{ section_title }} </h1>
<div class="row-4">
  <div class="col-1 section-menu">
    <a href="/settings/"{%- if request.url_rule.endpoint == 'user_settings' %} class="active"{% endif %}>
      General Settings
    </a>
    <a href="/settings/details/"{%- if request.url_rule.endpoint == 'user_settings_details' %} class="active"{% endif %}>
      User Details
    </a>
    <a href="/settings/css/"{%- if request.url_rule.endpoint == 'user_settings_css' %} class="active"{% endif %}>
      Profile CSS
    </a>
    <a href="/settings/username/"{%- if request.url_rule.endpoint == 'user_settings_username' %} class="active"{% endif %}>
      Change Username
    </a>
    <a href="/settings/email/"{%- if request.url_rule.endpoint == 'user_settings_email' %} class="active"{% endif %}>
      Change Email
    </a>
    <a href="/settings/password/"{%- if request.url_rule.endpoint == 'user_settings_password' %} class="active"{% endif %}>
      Change Password
    </a>
  </div>
  <div class="col-3">
    {% block section_body %}{% endblock %}
  </div>
</div>
{% endblock %}
