{% from "_macros/highlighted_link.html" import highlighted_link %}

{% extends "layout.html" %}
{% set page_title = "User Settings: " + section_title %}
{% block header_scripts %}
<link rel="stylesheet" type="text/css" href="{{ include_static('css/users.min.css') }}">
{% endblock %}
{% block body %}
<h1>User Settings: {{ section_title }} </h1>
<div class="settings-row">
  <div class="section-sidebar">
    {{ highlighted_link('General Settings', 'users.settings') }}
    {{ highlighted_link('User Details', 'users.settings_details') }}
    {{ highlighted_link('Change Username', 'users.settings_username') }}
    {{ highlighted_link('Change Email', 'users.settings_email') }}
    {{ highlighted_link('Change Password', 'users.settings_password') }}
  </div>
  <div class="settings-body">
    {% block section_body %}{% endblock %}
  </div>
</div>
{% endblock %}
