{% from "_macros/forms.html" import form_row %}

{% extends "settings/template.html" %}
{% set section_title = "Change Username" %}
{% block section_body %}
<p>
  You can only claim a new username every 24 hours. After you change your username,
  your old username will redirect to your new username unless you release it.
</p>
<form method="post" class="validated-form">
  <table class="form-table">
    {{ form_row(form.username, tip="Valid characters: letters, numbers, and +~._-") }}
    <tr>
      <th class="label">
        <label>Last Changed</label>
      </th>
      <td>
        {{ g.user.last_username_change|relative_time }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Change Username">
      </td>
    </tr>
  </table>
</form>

<table class="form-table">
  <tr>
    <th class="h2" colspan="2">
      Your Past Usernames
    </th>
  </tr>
  {% for username in g.user.username_objects|reverse %}
  <tr>
    <td>
      {{ username.case_name }}
    </td>
    <td>
      {% if username.name == g.user.name.lower() %}
        <em>Current Username</em>
      {% else %}
        <form method="post" action="/settings/username/release/">
          <input type="hidden" name="username" value="{{ username.name }}">
          <button type="submit" class="link-button" name="submit">
            Release username
          </button>
        </form>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
