#dungeon {
  background-color: #322125;
  margin: 0 auto;
}

.dungeonTile {
  float: left;
	cursor: pointer;
}

.dungeonObject {
  z-index: 1;
  position: relative;
}

.battler {
  width: 200px;
}

#battle-screen {
  width: 100%;
  min-height: 500px;
  background: url('/static/img/battle.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
}

#battle-screen .side {
  width: 200px;
}

#battle-screen .player .stat-meter {
  left: 200px;
}

#battle-screen .enemy .stat-meter {
  right: 120px;
}


#battle-screen .stat-meter {
  position: relative;
  top: 80px;
  background: #fff;
  border-radius: 5px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  width: 120px;
  border: #fff 1px solid;
  margin-bottom: 5px;
}

#battle-screen .stat-meter div {
  float: left;
  border-radius: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#battle-screen .stat-meter.health div {
  background: #68DF76;
}

#battle-screen .stat-meter.stamina div {
  background: #687EDD;
}

#battle-screen .stat-meter span {
  position: absolute;
  width: 100%;
  text-align: center;
  display: block;
}

#battle-screen .battler img {
  padding: 5px;
}

#battle-screen .enemy img {
  cursor: pointer;
}

#battle-screen .enemy img:hover {
  -webkit-filter: brightness(130%); /* Chrome, Safari, Opera */
  filter: brightness(130%);
  border: 5px dotted #E65715;
  padding: 0px;
}

#battle-screen .battler:not(:first-child) {
  margin-top: -80px;
}

#battle-screen .battler.player:nth-child(2) {
  position: relative;
  left: 100px;
}

#battle-screen .battler.enemy:nth-child(2) {
  position: relative;
  left: -100px;
}
