#sudoku-puzzle {
  margin: auto;
	margin-top: 10px;
	width: 546px;
	height: 546px;
	border: 1px solid #222;
}

#sudoku-puzzle .block {
	float: left;
	width: 180px;
	height: 180px;
	border: 1px solid #222;
}

#sudoku-puzzle .block input.number {
	width: 58px;
	height: 58px;
	float: left;
	margin: 0px;
	padding: 0px;
	border: 1px solid #222;
	text-align: center;
	font-size: 40px;
  color: #555;
}

#sudoku-puzzle .block input.number[readonly] {
	font-weight: bold;
  color: #222;
}
