$black: #222;
$notQuiteBlack: #565656;
$white: #fff;
$gray: #999;

$mainBgColor: #e3eae9;

$neutralColor: #e0f2f1;
$neutralDarkColor: #93ccc6;

$mainSoftColor: #d0f3ee;
$mainColor: #13c3a8;
$mainDarkColor: #0dab95;
$mainDarkerColor: #0a9381;

$accentSoftColor: #f4cfcc;
$accentColor: #e45f56;

$highlightSoftColor: #fff4d4;
$highlightColor: #f5e6ba;
$highlightDarkColor: #decc97;

$errorColor: #f03;
$errorLightColor: #fcc;


// Admin colors
$adminSoftColor: #cad0d1;
$adminColor: #383a3a;
$adminDarkColor: #222;
$adminDarkerColor: #000;

$adminNeutralColor: #ddd;
