$mainBgColor: hsl(171, 14%, 90%);

$neutralColor: hsl(177, 41%, 91%);
$neutralDarkColor: hsl(174, 36%, 69%);

$mainSoftestColor: hsl(171, 55%, 94%);
$mainSofterColor: hsl(171, 60%, 88%);
$mainSoftColor: hsl(171, 81%, 44%);
$mainColor: hsl(171, 82%, 42%);
$mainDarkColor: hsl(172, 86%, 36%);
$mainDarkerColor: hsl(172, 87%, 31%);
