// Admin colors
$mainSoftestColor: hsl(195, 10%, 90%);
$mainSofterColor: hsl(189, 7%, 81%);
$mainSoftColor: hsl(185, 3%, 25%);
$mainColor: hsl(180, 2%, 22%);
$mainDarkColor: hsl(0, 0%, 13%);
$mainDarkerColor: hsl(0, 0%, 0%);

$neutralColor: hsl(0, 0%, 87%);
$neutralDarkColor: hsl(0, 0%, 77%);
