$mainBgColor: hsl(230, 32%, 72%);

$neutralColor: hsl(218, 40%, 90%);
$neutralDarkColor: hsl(218, 40%, 70%);

$mainSoftestColor: hsl(218, 64%, 90%);
$mainSofterColor: hsl(218, 64%, 70%);
$mainSoftColor:hsl(218, 64%, 40%);
$mainColor: hsl(218, 64%, 33%);
$mainDarkColor: hsl(218, 64%, 28%);
$mainDarkerColor: hsl(218, 64%, 23%);
