$black: #222;
$notQuiteBlack: #565656;
$white: #fff;
$gray: #999;

$mainBgColor: #e1e7e8;

$neutralColor: #e0f2f1;
$neutralDarkColor: #93ccc6;

$mainSoftColor: #c5ede8;
$mainColor: #0fbaa3;
$mainDarkColor: #0ba38f;
$mainDarkerColor: #0a9381;

$accentSoftColor: #f4cfcc;
$accentColor: #e45f56;
$accentDarkColor: #f69a93;

$highlightSoftColor: #fff4d4;
$highlightColor: #f5e6ba;
$highlightDarkColor: #decc97;

$errorColor: #f03;
$errorLightColor: #fcc;


// Admin colors
$adminSoftColor: #CAD0D1;
$adminColor: #383A3A;
$adminDarkColor: #222;
$adminDarkerColor: #000;

$adminNeutralColor: #ddd;
