{% macro simple_pagination(current_page=1, has_more_pages=True, url_base="?page=", url_end="") -%}

{% if request.args.get('page') %}
  {% set current_page = request.args.get('page')|int %}
{% endif %}


<div class="pagination">
{% if current_page > 1 %}
  <a href="{{ url_base }}{{ current_page - 1 }}{{ url_end }}">&#8592; Prev</a>
{% else %}
  <span>&#8592; Prev</span>
{% endif %}

{% if has_more_pages %}
  <a href="{{ url_base }}{{ current_page + 1 }}{{ url_end }}">Next &#8594;</a>
{% else %}
  <span>Next &#8594;</span>
{% endif %}
</div>
{%- endmacro %}
