{% extends "layout.html" %}
{% set page_title = "Human Avatar" %}
{% block header_scripts %}
<script src="{{ include_static('js/Avatar.min.js') }}"></script>
{% endblock %}
{% block body %}
<h2>Customize Your Avatar</h2>
<div class="left center" style="width:30%;">
	<img src="/api/ha/m/" id="preview-ha">
	<form method="post">
		<input type="hidden" name="img" id="ha-image-url" value="/api/ha/m/">
		<input type="submit" value="Save Human Avatar">
	</form>
</div>
<div id="clothing" class="left" style="width:70%;"></div>
{% endblock %}
