{% extends "newspaper/template.html" %}
{% set section_title = "News" %}
{% block section_body %}
<div class="news-post-container">
  {% for post in posts %}
  <h2>
    <img src="{{ random_item_image() }}" class="news-post-avatar"/>
    {{ post.title }}
  </h2>
  <div class="news-post-attribution">by <a href="/user/">Tiff</a> on {{ post.date_created|relative_time }}</div>
  <article>
    <p>
      Check out the WIP explore feature here: <a href="/explore/">Explore</a>
    </p>
    <p>
      Saylua is a pet about the beauty where the site conquers all. Virtualize your collections into
      pets on this Smashing Hulk Hogan simulator. Loxi Vela ipsum.
    </p>
    <a href="/forums/">View Comments (0)</a>
  </article>
  {% endfor %}
</div>
{% endblock %}
{% block section_sidebar %}
<div>
  <h3>Random Pet</h3>
  <div class="newspaper-side-box center">
    <img src="{{ random_pet_image() }}" class="pet" />
  </div>
</div>
{% endblock %}
