{% extends "newspaper/template.html" %}
{% set section_title = "Daily Puzzle" %}
{% block section_body %}
<h2>
  The Daily Saydoku Puzzle
</h2>
<div id="puzzle-mount">
</div>
{% endblock %}
{% block section_sidebar %}
<div>
<h3>The Rules</h3>
  <div class="newspaper-side-box">
    Fill the whole board with numbers 1-9 while following these rules:
    <ul>
      <li>
        No number can appear twice in a single row or column.
      </li>
      <li>
        None of the 3x3 subsections of the board can have repeated numbers either.
      </li>
    </ul>
  </div>
</div>
<div>
  <div class="newspaper-side-box">
    Everyday, thouands of Sayluans complete the Sayluan Gazette's daily Saydoku
    puzzle and send in their solutions to earn a prize.
  </div>
</div>
<button>
  Submit Solution
</button>
{% endblock %}
