{% extends "newspaper/template.html" %}
{% set section_title = "News" %}
{% block section_body %}
<div id="puzzle-mount">
 <div class="block">
   <input type="text" maxlength="1" class="number" id="1-1" />
   <input type="text" maxlength="1" class="number" id="1-2" />
   <input type="text" maxlength="1" class="number" id="1-3" />

   <input type="text" maxlength="1" class="number" id="2-1" />
   <input type="text" maxlength="1" class="number" id="2-2" />
   <input type="text" maxlength="1" class="number" id="2-3" />

   <input type="text" maxlength="1" class="number" id="3-1" />
   <input type="text" maxlength="1" class="number" id="3-2" />
   <input type="text" maxlength="1" class="number" id="3-3" />
 </div>

 <div class="block">
   <input type="text" maxlength="1" class="number" id="1-4" />
   <input type="text" maxlength="1" class="number" id="1-5" />
   <input type="text" maxlength="1" class="number" id="1-6" />

   <input type="text" maxlength="1" class="number" id="2-4" />
   <input type="text" maxlength="1" class="number" id="2-5" />
   <input type="text" maxlength="1" class="number" id="2-6" />

   <input type="text" maxlength="1" class="number" id="3-4" />
   <input type="text" maxlength="1" class="number" id="3-5" />
   <input type="text" maxlength="1" class="number" id="3-6" />
 </div>

 <div class="block">
   <input type="text" maxlength="1" class="number" id="1-7" />
   <input type="text" maxlength="1" class="number" id="1-8" />
   <input type="text" maxlength="1" class="number" id="1-9" />

   <input type="text" maxlength="1" class="number" id="2-7" />
   <input type="text" maxlength="1" class="number" id="2-8" />
   <input type="text" maxlength="1" class="number" id="2-9" />

   <input type="text" maxlength="1" class="number" id="3-7" />
   <input type="text" maxlength="1" class="number" id="3-8" />
   <input type="text" maxlength="1" class="number" id="3-9" />
 </div>

 <div class="block">
   <input type="text" maxlength="1" class="number" id="4-1" />
   <input type="text" maxlength="1" class="number" id="4-2" />
   <input type="text" maxlength="1" class="number" id="4-3" />

   <input type="text" maxlength="1" class="number" id="5-1" />
   <input type="text" maxlength="1" class="number" id="5-2" />
   <input type="text" maxlength="1" class="number" id="5-3" />

   <input type="text" maxlength="1" class="number" id="6-1" />
   <input type="text" maxlength="1" class="number" id="6-2" />
   <input type="text" maxlength="1" class="number" id="6-3" />
 </div>

 <div class="block">
   <input type="text" maxlength="1" class="number" id="4-4" />
   <input type="text" maxlength="1" class="number" id="4-5" />
   <input type="text" maxlength="1" class="number" id="4-6" />

   <input type="text" maxlength="1" class="number" id="5-4" />
   <input type="text" maxlength="1" class="number" id="5-5" />
   <input type="text" maxlength="1" class="number" id="5-6" />

   <input type="text" maxlength="1" class="number" id="6-4" />
   <input type="text" maxlength="1" class="number" id="6-5" />
   <input type="text" maxlength="1" class="number" id="6-6" />
 </div>

 <div class="block">
   <input type="text" maxlength="1" class="number" id="4-7" />
   <input type="text" maxlength="1" class="number" id="4-8" />
   <input type="text" maxlength="1" class="number" id="4-9" />

   <input type="text" maxlength="1" class="number" id="5-7" />
   <input type="text" maxlength="1" class="number" id="5-8" />
   <input type="text" maxlength="1" class="number" id="5-9" />

   <input type="text" maxlength="1" class="number" id="6-7" />
   <input type="text" maxlength="1" class="number" id="6-8" />
   <input type="text" maxlength="1" class="number" id="6-9" />
 </div>

 <div class="block">
   <input type="text" maxlength="1" class="number" id="7-1" />
   <input type="text" maxlength="1" class="number" id="7-2" />
   <input type="text" maxlength="1" class="number" id="7-3" />

   <input type="text" maxlength="1" class="number" id="8-1" />
   <input type="text" maxlength="1" class="number" id="8-2" />
   <input type="text" maxlength="1" class="number" id="8-3" />

   <input type="text" maxlength="1" class="number" id="9-1" />
   <input type="text" maxlength="1" class="number" id="9-2" />
   <input type="text" maxlength="1" class="number" id="9-3" />
 </div>

 <div class="block">
   <input type="text" maxlength="1" class="number" id="7-4" />
   <input type="text" maxlength="1" class="number" id="7-5" />
   <input type="text" maxlength="1" class="number" id="7-6" />

   <input type="text" maxlength="1" class="number" id="8-4" />
   <input type="text" maxlength="1" class="number" id="8-5" />
   <input type="text" maxlength="1" class="number" id="8-6" />

   <input type="text" maxlength="1" class="number" id="9-4" />
   <input type="text" maxlength="1" class="number" id="9-5" />
   <input type="text" maxlength="1" class="number" id="9-6" />
 </div>

 <div class="block">
   <input type="text" maxlength="1" class="number" id="7-7" />
   <input type="text" maxlength="1" class="number" id="7-8" />
   <input type="text" maxlength="1" class="number" id="7-9" />

   <input type="text" maxlength="1" class="number" id="8-7" />
   <input type="text" maxlength="1" class="number" id="8-8" />
   <input type="text" maxlength="1" class="number" id="8-9" />

   <input type="text" maxlength="1" class="number" id="9-7" />
   <input type="text" maxlength="1" class="number" id="9-8" />
   <input type="text" maxlength="1" class="number" id="9-9" />
 </div>
</div>
{% endblock %}
