{% extends "layout.html" %}
{% set page_title = "Item Database" %}

{% block header_scripts %}
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/items.min.css') }}">
{% endblock %}
{% block body %}
<h1>Item Database</h1>
<div class="center">
  {{ pagination.render() }}
</div>
{% for item in pagination.items %}
<div>
  <a href="{{ item.url() }}">
    <img src="{{ item.image_url() }}" class="item">
    {{ item.name }}
  </a>
</div>
{% endfor %}
<div class="center">
  {{ pagination.render() }}
</div>
{% endblock %}
