{% extends "layout.html" %}
{% set page_title = "Item Database" %}
{% block header_scripts %}
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/items.min.css') }}">
{% endblock %}
{% block body %}
<h1>Item Database</h1>
<div class="center">
  {{ pagination.render() }}
</div>
<div class="grid-container">
{% for item in pagination.items %}
  <a href="{{ item.url() }}" class="grid-element">
    <img src="{{ item.image_url() }}" class="item" />
    {{ item.name }}
  </a>
{% endfor %}
</div>
<div class="center">
  {{ pagination.render() }}
</div>
{% endblock %}
