{% extends "layout.html" %}
{% set page_title = "Item Database: " + item.name %}

{% block header_scripts %}
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/items.min.css') }}">
{% endblock %}
{% block body %}
<h1>Item Database: {{ item.name }}</h1>
<div class="item-database-container">
  <div class="item-database-entry">
    <div class="item">
      <img src="{{ item.image_url() }}" alt="{{ item.name }}" title="{{ item.name }}">
    </div>
    {{ item.name }}
  </div>
</div>
<div class="center">
  <a href="/items/">&leftarrow; Back to Item Database</a>
</div>
{% endblock %}
