{% extends "layout.html" %}
{% set page_title = "Item Database: " + item.name %}

{% block header_scripts %}
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/items.min.css') }}" />
{% endblock %}

{% block body %}
<h1>Item Database: {{ item.name }}</h1>
<div class="item-view-container">
  <div class="item-big">
    <img src="{{ item.image_url() }}" alt="{{ item.name }}" title="{{ item.name }}" />
  </div>
  <table>
    <tr>
      <th>Name</th>
      <td>{{ item.name }}</td>
    </tr>
    <tr>
      <th>Category</th>
      <td>{{ item.category_name().title() }}</td>
    </tr>
    <tr>
      <th>Buyback Price</th>
      <td>{{ item.buyback_price|pluralize('Cloud Coin') }}</td>
    </tr>
    <tr>
      <td colspan="2">{{ item.description }}</td>
    </tr>
  </table>
</div>
<div class="center">
  <a href="/items/">&leftarrow; Back to Item Database</a>
</div>
{% endblock %}
