{% extends "layout.html" %}
{% set page_title = section_title %}
{% block header_scripts %}
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/general.min.css') }}">
{% endblock %}
{% block body %}
<h1 class="news-header">The Sayluan Gazette: {{ section_title }}</h1>
<div class="news-navigation">
  <a href="/news/">Headlines</a> /
  <a href="/news/puzzle/">Daily Puzzle</a>
</div>
<div class="newspaper-body">
  <div class="newspaper-main">
    {% block section_body %}{% endblock %}
  </div>
  <div class="newspaper-side">
    {% block section_sidebar %}{% endblock %}
  </div>
</div>
{% endblock %}
