{% from "_macros/pet_avatar_view.html" import pet_avatar_view %}

{% extends "layout.html" %}
{% block header_scripts %}
<link rel="stylesheet" type="text/css" href="{{ include_static('css/users.min.css') }}">
{% endblock %}
{% block body %}
<h1 id="profile-header">{{ viewed_user.name }}</h1>
<div id="profile-container">
  <div id="profile-column">
    {{ pet_avatar_view(viewed_user) }}
    <fieldset id="profile-details">
      <legend id="profile-details-legend">Details</legend>
      <table id="profile-details-table">
        <tr>
          <th>Username</th>
          <td>{{ viewed_user.name }}</td>
        </tr>
        {% if viewed_user.status %}
        <tr>
          <th>User Status</th>
          <td>{{ viewed_user.status }}</td>
        </tr>
        {% endif %}
        {% if viewed_user.pronouns %}
        <tr>
          <th>Pronouns</th>
          <td>{{ viewed_user.pronouns }}</td>
        </tr>
        {% endif %}
        {% if viewed_user.gender %}
        <tr>
          <th>Gender</th>
          <td>{{ viewed_user.gender }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>Date Joined</th>
          <td>{{ viewed_user.date_joined|show_date }}</td>
        </tr>
        <tr>
          <th>Last Online</th>
          <td>{{viewed_user.last_action|show_date}}</td>
        </tr>
      </table>
    </fieldset>
  </div>
  <div id="profile-body">
    <div id="profile-navigation" class="profile-navigation">
      <span class="view-links">
        <a class="subtle-button" href="/user/{{ viewed_user.name }}/threads/">Threads</a>
        <a class="subtle-button" href="/user/{{ viewed_user.name }}/posts/">Posts</a>
        <a class="subtle-button" href="/shop/{{ viewed_user.name }}/">Shop</a>
      </span>

      <span class="action-links">
        <a class="subtle-button" href="/messages/write/?to={{ viewed_user.name }}">
          <img src="/static/img/icons/pencil.png" alt="pencil" title="Write Message" aria-label="Write Message" />
          Message
        </a>
        <a class="subtle-button" href="/bank/transfer/?to={{ viewed_user.name }}">
          <img src="/static/img/icons/weather_clouds.png" alt="cloud coins" title="Send Money" aria-label="Send Money" />
          Send Money
        </a>
      </span>
    </div>
    <h3>About {{ viewed_user.name }}</h3>
    {% if viewed_user.bio %}
    <div id="profile-about-me">
      {{ viewed_user.bio }}
    </div>
    {% endif %}
    <h3>{{ viewed_user.name }}'s Pets</h3>
    <div class="grid-container">
      {% for pet in pets %}
      <div class="grid-element-big">
        <a href="{{ pet.url() }}" class="pet">
          <img src="{{ pet.image_url() }}">
          <div>{{ pet.name }}</div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block admin_actions %}
<a href="/admin/user/{{ viewed_user.name }}/" class="button">Manage {{ viewed_user.name }}</a>
{% endblock %}
