{% extends "layout.html" %}
{% block header_scripts %}
<link rel="stylesheet" type="text/css" href="{{ include_static('css/users.min.css') }}">
<style style="text/css">
{{ viewed_user.css }}
</style>
{% endblock %}
{% block body %}
<h2 id="profile-header">{{viewed_user.display_name}}</h2>
<div id="profile-container">
  <div id="profile-column">
    <img src="{{viewed_user.ha_url}}" id="profile-human-avatar">
    <fieldset id="profile-details">
      <legend id="profile-details-legend">Details</legend>
      <table id="profile-details-table">
        <tr>
          <th>Username</th>
          <td>{{ viewed_user.display_name }}</td>
        </tr>
        {% if viewed_user.status %}
        <tr>
          <th>User Status</th>
          <td>{{ viewed_user.status }}</td>
        </tr>
        {% endif %}
        {% if viewed_user.pronouns %}
        <tr>
          <th>Pronouns</th>
          <td>{{ viewed_user.pronouns }}</td>
        </tr>
        {% endif %}
        {% if viewed_user.gender %}
        <tr>
          <th>Gender</th>
          <td>{{ viewed_user.gender }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>Date Joined</th>
          <td>{{ viewed_user.date_joined|show_date }}</td>
        </tr>
        <tr>
          <th>Last Online</th>
          <td>{{viewed_user.last_action|show_date}}</td>
        </tr>
      </table>
    </fieldset>
  </div>
  <div id="profile-body">
    <div id="profile-navigation">
      <a class="tiny-button" href="/user/{{viewed_user.display_name}}/threads/">Threads</a>
      <a class="tiny-button" href="/user/{{viewed_user.display_name}}/posts/">Posts</a>
      <a class="tiny-button" href="/den/{{viewed_user.display_name}}/">Den</a>
      <a class="tiny-button" href="/shop/{{viewed_user.display_name}}/">Shop</a>

      <span class="right">
        <a class="normal" href="/messages/write/?to={{viewed_user.display_name|urlencode}}">
          <img src="/static/img/icons/pencil.png">
          Message
        </a>
        <a class="normal" href="/bank/transfer/?to={{viewed_user.display_name|urlencode}}">
          <img src="/static/img/icons/weather_clouds.png">
          Send Money
        </a>
      </span>
    </div>
    <h3>About {{ viewed_user.display_name }}</h3>
    <div id="profile-about-me">
      {{ viewed_user.bio }}
    </div>
    <h3>Random Pets</h3>
    <img src="/static/img/pets/arko.png" style="width:33%; float:left">
    <img src="/static/img/pets/arko.png" style="width:33%; float:left">
    <img src="/static/img/pets/arko.png" style="width:33%; float:left">
    <h3>House</h3>
  </div>
</div>
{% endblock %}
