{% extends "layout.html" %}
{% block header_scripts %}
<link rel="stylesheet" type="text/css" href="{{ include_static('css/users.min.css') }}">
{% endblock %}
{% block body %}
<h1 id="profile-header">{{ viewed_user.name }}</h1>
<div id="profile-container">
  <div id="profile-column">
    <img src="{{ viewed_user.avatar_url() }}" id="profile-human-avatar">
    <fieldset id="profile-details">
      <legend id="profile-details-legend">Details</legend>
      <table id="profile-details-table">
        <tr>
          <th>Username</th>
          <td>{{ viewed_user.name }}</td>
        </tr>
        {% if viewed_user.status %}
        <tr>
          <th>User Status</th>
          <td>{{ viewed_user.status }}</td>
        </tr>
        {% endif %}
        {% if viewed_user.pronouns %}
        <tr>
          <th>Pronouns</th>
          <td>{{ viewed_user.pronouns }}</td>
        </tr>
        {% endif %}
        {% if viewed_user.gender %}
        <tr>
          <th>Gender</th>
          <td>{{ viewed_user.gender }}</td>
        </tr>
        {% endif %}
        <tr>
          <th>Date Joined</th>
          <td>{{ viewed_user.date_joined|show_date }}</td>
        </tr>
        <tr>
          <th>Last Online</th>
          <td>{{viewed_user.last_action|show_date}}</td>
        </tr>
      </table>
    </fieldset>
  </div>
  <div id="profile-body">
    <div id="profile-navigation">
      <a class="tiny-button" href="/user/{{ viewed_user.name }}/threads/">Threads</a>
      <a class="tiny-button" href="/user/{{ viewed_user.name }}/posts/">Posts</a>
      <a class="tiny-button" href="/shop/{{ viewed_user.name }}/">Shop</a>

      <span class="right">
        <a class="normal" href="/messages/write/?to={{ viewed_user.name|urlencode }}">
          <img src="/static/img/icons/pencil.png">
          Message
        </a>
        <a class="normal" href="/bank/transfer/?to={{ viewed_user.name|urlencode }}">
          <img src="/static/img/icons/weather_clouds.png">
          Send Money
        </a>
      </span>
    </div>
    <h3>About {{ viewed_user.name }}</h3>
    <div id="profile-about-me">
      {{ viewed_user.bio }}
    </div>
    <h3>{{ viewed_user.name }}'s Pets</h3>
    {% for pet in pets %}
    <div style="width:20%; float:left">
      <a href="/pet/{{ pet.soul_name }}/">
        <img src="{{ pet.image() }}" style="width:100%; float:left">
        <div style="width:100%; float:left; text-align:center">{{ pet.name }}</div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
