{% extends "layout.html" %}
{% set page_title = "My Inventory" %}
{% block header_scripts %}
  <link rel="stylesheet" type="text/css" href="{{ include_static('css/items.min.css') }}">
{% endblock %}
{% block body %}
<h1>My Inventory</h1>
<div class="center">
  {{ pagination.render() }}
</div>
<div class="grid-container">
  {% for entry in pagination.items %}
    <div class="grid-element">
      <img src="{{ entry.item.image_url() }}" class="item" alt="{{ entry.item.name }}" />
      <span>{{ entry.item.name }}</span>
      <small>Count: {{ entry.count }}</small>
    </div>
  {% endfor %}
</div>
<div class="center">
  {{ pagination.render() }}
</div>
{% endblock %}
