{% from "_macros/pagination.html" import pagination %}
{% extends "layout.html" %}
{% set page_title = "Your Inventory" %}
{% block body %}
<h1>Your Inventory</h1>
<div class="full center padded">
  {{ pagination() }}
</div>
<div class="row-5">
  {% for i in range(20) %}
  <div class="col-1 center">
    <a href="javascript:void();">
      <img src="{{ random_item_image() }}" class="item">
      <span class="full">Item {{ i }}</span>
      <small class="full">Count: 10</small>
    </a>
  </div>
  {% endfor %}
</div>
<div class="full center padded">
  {{ pagination() }}
</div>
{% endblock %}
