{% from "_macros/simple_pagination.html" import simple_pagination %}
{% extends "layout.html" %}
{% set page_title = "Notifications" %}
{% block body %}
<h1>View All Notifications</h1>
{% if viewed_notifications|length > 0 %}
<div class="padded full center">
  {{ simple_pagination(current_page=page, has_more_pages=more_pages) }}
</div>
<form method="post">
  <div class="full center">
    <input type="submit" class="small" name="delete" value="Delete Selected Notifications" />
    <input type="submit" class="small" name="read" value="Mark Selected as Read" />
  </div>
  <table class="forum-table">
    <tr>
      <th>
        <input type="checkbox" class="check-all" data-name="notification_id">
      </th>
      <th>
        Notification Text
      </th>
      <th>
        Time
      </th>
      <th>
        Status
      </th>
    </tr>
    {% for notification in viewed_notifications %}
    <tr class="forum-thread-row{% if not notification.is_read%} highlight{% endif %}">
      <td>
        <input type="checkbox" name="notification_id" value="{{notification.key.urlsafe()}}">
      </td>
      <td>
        <a href="/notification/{{notification.key.urlsafe()}}/">
          {{notification.text}}{% if notification.count > 1 %} ({{notification.count}}){% endif %}
        </a>
      </td>
      <td>
        {{notification.time|relative_time}}
      </td>
      <td>
        {% if notification.is_read %}
          Read
        {% else %}
          Unread
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="full center">
    <input type="submit" class="small" name="delete" value="Delete Selected Notifications" />
    <input type="submit" class="small" name="read" value="Mark Selected as Read" />
  </div>
</form>
<div class="padded full center">
  {{ simple_pagination(current_page=page, has_more_pages=more_pages) }}
</div>
{% else %}
<p class="center full padded">
  You have no notifications!
</p>
<p class="center full padded">
  <a href="/">Go back home?</a>
</p>
{% endif %}

{% endblock %}
