{% from "_macros/pagination.html" import pagination %}
{% extends "layout.html" %}
{% set page_title = "Your Inventory" %}
{% block body %}
<h2>Your Inventory</h2>
<div class="full center">
  {{ pagination() }}
</div>
{% for item in items %}
<div class="small-grid-box">
  <a href="javascript:void();">
    <img src="{{ item.img_url }}" class="item">
    <span class="full">{{ item.name }}</span>
    <small class="full">Count: 10</small>
  </a>
</div>
{% endfor %}
<div class="full center">
  {{ pagination() }}
</div>
{% endblock %}
