{% from "_macros/pagination.html" import pagination %}
{% from "_macros/user_link.html" import user_link %}

{% extends "layout.html" %}
{% set page_title = "Inbox" %}

{% block header_scripts %}
<link rel="stylesheet" type="text/css" href="{{ include_static('css/messages.min.css') }}">
{% endblock %}

{% block body %}
<h1>Your Inbox</h1>
<h3>
  Your Conversations
  <a class="right normal" href="/messages/write/">
    <img src="/static/img/icons/pencil.png">
    Send a New Message
  </a>
</h3>
{% if viewed_messages|length > 0 %}
<form method="post">
  <div class="padded full center">
    {{ pagination() }}
  </div>
  <div class="full padded center">
    <input type="submit" class="small" name="delete" value="Delete Selected Conversations" />
    <input type="submit" class="small" name="read" value="Mark Selected as Read" />
  </div>
  <table class="forum-table">
    <tr>
      <th>
        <input type="checkbox" class="check-all" data-name="user_conversation_id">
      </th>
      <th>
        Conversation Title
      </th>
      <th>
        Users
      </th>
      <th>
        Time
      </th>
      <th>
        Status
      </th>
    </tr>
    {% for message in viewed_messages %}
    <tr class="forum-board-row{% if not message.is_read %} highlight{% endif %}">
      <td>
        <input type="checkbox" name="user_conversation_id" value="{{ message.key.urlsafe() }}">
      </td>
      <td>
        <a href="{{ message|conversation_url }}">{{ message.title }}</a>
      </td>
      <td>
        With
        {% for recipient_key in message.recipient_keys %}
          {% set recipient = user_from_key(recipient_key) %}
          {{ user_link(recipient) }}
        {% endfor %}
      </td>
      <td>
        {{ message.time|relative_time }}
      </td>
      <td>
        {{ message|message_status }}
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="full padded center">
    <input type="submit" class="small" name="delete" value="Delete Selected Conversations" />
    <input type="submit" class="small" name="read" value="Mark Selected as Read" />
  </div>
  <div class="padded full center">
    {{ pagination() }}
  </div>
</form>
{% else %}
<p class="center full padded">
  You have no messages!
</p>
<p class="center full padded">
  <a href="/"> Go back home?</a>
</p>
{% endif %}
{% endblock %}
