{% from "_macros/pagination.html" import pagination %}
{% from "_macros/user_link.html" import user_link %}
{% extends "layout.html" %}
{% set page_title = "Sample Conversation" %}
{% block body %}
<h2>Viewing Conversation: {{ conversation.title }}</h2>
<div class="center full padded">
  <a href="/messages/"><img src="/static/img/icons/arrow_left.png"> Back to Your Inbox</a>
</div>
<div class="center full padded">
  Conversation between:
  {% for user_key in conversation.user_keys %}
    {% set user = user_key|user_object %}
    {% if loop.index > 1 %} and {% endif %}
    {{ user_link(user) }}
  {% endfor %}
</div>
<div class="center full padded">
  {% set last_message = conversation.messages|last %}
  Last message by {{ user_link(last_message.user_key|user_object) }}
  on {{ last_message.time|expanded_relative_time }}
</div>
<form method="post" class="validated-form" data-error-id="message-post-error">
  <table class="form-table full padded">
    <tr>
      <td colspan="2" id="message-post-error"></td>
    </tr>
    <tr>
      <th class="label">
        {{ form.text.label }}
      </th>
      <td>
        {{ form.text(placeholder="Type your reply here") }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" class="small" value="Post New Reply" name="post">
        <input type="submit" class="small" value="Preview Reply" name="preview">
      </td>
    </tr>
  </table>
</form>
{% for message in conversation.messages|reverse %}
{% set message_user = message.user_key|user_object %}
<table class="conversation-message">
  <tr>
    <th rowspan="2">
      <div class="full">{{ user_link(message_user) }}</div>
      <div class="item">
        <a href="{{ message_user|user_url }}">
          <img src="/static/img/SHC.png">
        </a>
      </div>
    </th>
    <td class="message-body">
      <span class="right small">{{ message.time|expanded_relative_time }}</span>
    </td>
  </tr>
  <tr>
    <td class="message-body">
      {{ message.text|markdown }}
    </td>
  </tr>
</table>
{% endfor %}
{% endblock %}
