{% from "_macros/pagination.html" import pagination %}
{% from "_macros/user_link.html" import user_link %}

{% extends "layout.html" %}
{% set page_title = "Sample Conversation" %}

{% block header_scripts %}
<link rel="stylesheet" type="text/css" href="{{ include_static('css/messages.min.css') }}">
{% endblock %}

{% block body %}
<h1>Viewing Conversation: {{ conversation.title }}</h1>
<div class="center full padded">
  <a href="/messages/"><img src="/static/img/icons/arrow_left.png"> Back to Your Inbox</a>
</div>
<div class="center full padded">
  Conversation between:
  {% for member in members %}
    {% if loop.index > 1 %} and {% endif %}
    {{ user_link(member) }}
  {% endfor %}
</div>
<div class="center full padded">
  {% set last_message = conversation_messages|last %}
  Last message by {{ user_link(last_message.author) }}
  on {{ last_message.date_created|expanded_relative_time }}
</div>
<form method="post" class="validated-form" data-error-id="message-post-error">
  <table class="form-table full padded">
    <tr>
      <td colspan="2" id="message-post-error"></td>
    </tr>
    <tr>
      <th class="label">
        {{ form.text.label }}
      </th>
      <td>
        {{ form.text(placeholder="Type your reply here") }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" class="small" value="Post New Reply" name="post">
        <input type="submit" class="small" value="Preview Reply" name="preview">
      </td>
    </tr>
  </table>
</form>
{% for message in conversation_messages|reverse %}
<table class="conversation-message">
  <tr>
    <th rowspan="2">
      <div class="full">{{ user_link(message.author) }}</div>
      <div class="item">
        <a href="{{ message.author.url() }}">
          <img src="{{ random_pet_image() }}">
        </a>
      </div>
    </th>
    <td class="message-body">
      <span class="right small">{{ message.date_created|expanded_relative_time }}</span>
    </td>
  </tr>
  <tr>
    <td class="message-body">
      {{ message.text|markdown }}
    </td>
  </tr>
</table>
{% endfor %}
{% endblock %}
