{% from "_macros/forms.html" import form_row %}

{% extends "layout.html" %}
{% set page_title = "Write a New Message" %}

{% block header_scripts %}
<link rel="stylesheet" type="text/css" href="{{ include_static('css/messages.min.css') }}">
{% endblock %}

{% block body %}
<h1>Writing a New Message</h1>
<p class="center">
  <a href="/messages/"><img src="/static/img/icons/arrow_left.png"> Back to Your Inbox</a>
</p>
<form method="post" class="validated-form">
  <table class="form-table">
    {{ form_row(form.recipient, tip="Enter the username for the message recipient") }}
    {{ form_row(form.title) }}
    {{ form_row(form.text) }}
    <tr>
      <td></td>
      <td>
        <input type="submit" class="small" value="Send Message" name="post">
        <input type="submit" class="small" value="Preview Message" name="preview">
      </td>
    </tr>
  </table>
</form>

{% endblock %}
