{% extends "layout.html" %}
{% set page_title = "Write a New Message" %}

{% block header_scripts %}
<link rel="stylesheet" type="text/css" href="{{ include_static('css/messages.min.css') }}">
{% endblock %}

{% block body %}
<h2>Writing a New Message</h2>
<p class="center full padded">
  <a href="/messages/"><img src="/static/img/icons/arrow_left.png"> Back to Your Inbox</a>
</p>
<form method="post" class="validated-form" data-error-id="message-post-error">
  <table class="form-table full padded">
    <tr>
      <td colspan="2" id="message-post-error"></td>
    </tr>
    <tr>
      <th class="label">
        {{ form.recipient.label }}
      </th>
      <td>
        {{ form.recipient() }}
        <small class="form-tip">Enter the username for the message recipient</small>
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.title.label }}
      </th>
      <td>
        {{ form.title() }}
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.text.label }}
      </th>
      <td>
        {{ form.text() }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" class="small" value="Send Message" name="post">
        <input type="submit" class="small" value="Preview Message" name="preview">
      </td>
    </tr>
  </table>
</form>

{% endblock %}
