@import '../assets/transitions';

.tab {
  @include slow-color-trans;
  display: block;
  float: left;
  padding: 0.8rem 2rem;
  &:hover {
    background: $accentSoftColor;
  }

  &.selected {
    background: $mainSofterColor;
  }
}

p.error {
  line-height: 150%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $errorColor;
}

a.button {
  display: block;
  width: auto;
}

.subtle-button, a.subtle-button {
  @include fast-color-trans;
  line-height: 100%;
  margin: 3px;
  padding: 6px 10px;
  cursor: pointer;
  color: $accentColor;
  border-radius: 15px;
  background-color: $white;
  border: 1px solid $accentColor;

  &:hover {
    background-color: $mainSofterColor;
    text-decoration: underline;
  }
}

.divider {
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 1px $mainSofterColor solid;
}
