@import '../assets/transitions';

.grid-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  align-items: flex-start;
  flex-wrap: wrap;

  .grid-element,
  .grid-element-big {
    @include fast-color-trans;
    display: flex;
    flex-direction: column;
    padding: 1em 1.6rem;
    text-align: center;

    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;

    &:hover {
      background-color: $mainSoftestColor;
    }
  }

  .grid-element {
    width: 20%;
  }

  .grid-element-big {
    width: 25%;
  }
}
