.npc-interaction {
  display: flex;
  text-align: center;

  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}

.npc-interaction form {
  width: 100%;
  margin-top: 20px;
}

.dialogue-choice {
  font-size: 1em;
  line-height: 150%;
  width: 70%;
  margin-bottom: 8px;
  padding: 0.25em 1.6rem;
  color: $accentColor;
  border: 1px solid $accentColor;
  border-radius: 15px;
  background-color: $white;

  &:hover {
    text-decoration: none;
    border: 1px solid $mainColor;
    background-color: $mainSofterColor;
  }
}

.triangle-border {
  position: relative;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  padding: 15px;
  color: #333;
  border: 5px solid $mainSoftColor;
  /* css3 */
  border-radius: 10px;
  background: #fff;
}

.triangle-border:before {
  content: '';
  position: absolute;
  bottom: -20px; /* value = - border-top-width - border-bottom-width */
  left: 40px; /* controls horizontal position */
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: $mainSoftColor transparent;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content: '';
  position: absolute;
  bottom: -13px; /* value = - border-top-width - border-bottom-width */
  left: 47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
}

@media (max-width: 734px), (min-width: 801px) and  (max-width: 1040px) {
  .triangle-border:before {
    left: 50%; /* controls horizontal position */
  }

  .triangle-border:after {
    left: calc(50% + 7px); /* value = (:before left) + (:before border-left) - (:after border-left) */
  }
}
