@import '../assets/transitions';

.pagination {
  display: block;
  margin: 1em auto;
  text-align: center;
}

.pagination a, .pagination span {
  @include fast-color-trans;
  line-height: 3rem;
  display: inline-block;
  height: 3rem;
  padding: 0 0.8rem;
  text-align: center;
}

.pagination a:hover {
  background-color: $accentSoftColor;
}

.pagination .active {
  background-color: $mainSofterColor;
}
