@import '../assets/keyframes';

.bounce {
  -webkit-animation: bounce 1.5s linear infinite; /* Chrome, Safari, Opera */
  animation: bounce 1.5s linear infinite;
}


.notification-fadeup {
  position: absolute;

  -webkit-animation: notification-fadeup 300ms ease-in forwards;
  animation: notification-fadeup 300ms ease-in forwards;
}
