.row-3,
.row-4,
.row-5 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  flex-flow: row wrap;
}

.col-1, .col-2, .col-3, .col-4 {
  float: left;
  box-sizing: border-box;
  padding: 5px 10px;
}

.row-3 .col-1 {
  width: 33.33%;
}

.row-3 .col-2 {
  width: 66.66%;
}

.row-4 .col-1 {
  width: 25%;
}

.row-4 .col-2 {
  width: 50%;
}

.row-4 .col-3 {
  width: 75%;
}

.row-5 .col-1 {
  width: 20%;
}

.row-5 .col-2 {
  width: 40%;
}

.row-5 .col-3 {
  width: 60%;
}

.row-5 .col-4 {
  width: 80%;
}
