@import '../assets/variables';
@import '../assets/transitions';

.pagination a, .pagination span {
  @include fast-color-trans;
  line-height: 3rem;
  display: inline-block;
  height: 3rem;
  padding: 0 1rem;
  text-align: center;
}

.pagination a:hover {
  background-color: $accentSoftColor;
}

.pagination .active {
  background-color: $mainSofterColor;
}
