@import '../assets/variables';
@import '../assets/transitions';

.pagination a, .pagination span {
  @include fast-color-trans;
  line-height: 30px;
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  text-align: center;
}

.pagination a:hover {
  background-color: $accentSoftColor;
}

.pagination .active {
  background-color: $mainSoftColor;
}

.binary-pagination {
  font-size: 2em;
  width: 90%;
  margin: auto;
}

.binary-pagination span {
  color: #bbb;
}

.binary-pagination span, .binary-pagination a {
  @include fast-color-trans;
  display: block;
  float: left;
  width: 50%;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
}

.binary-pagination a:hover {
  text-decoration: none;
  background-color: $accentSoftColor;
}
