// Standard sizes for different parts of the site
@mixin square($size) {
  display: inline-block;
  width: $size;
  height: $size;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  max-width: 100%;
}

.pet {
  @include square(32rem);
}

.mini {
  @include square(16rem);
}

.item {
  @include square(8rem);
}

.item-big {
  @include square(16rem);
}
