{% from "_macros/pagination.html" import pagination %}
{% from "_macros/user_link.html" import user_link %}
{% extends "layout.html" %}
{% set page_title = "Users Online" %}
{% block body %}
<h1>Users Online</h1>
<div class="users-online-container">
  {% for user in users_online %}
    {{ user_link(user) }}
  {% else %}
    <p class="center full padded">
      No one is online!
    </p>
    <p class="center full padded">
      <a href="/">Go back home?</a>
    </p>
  {% endfor %}
</div>
{% endblock %}
