@import 'assets/transitions';

.battler {
  width: 200px;
}

#battle-screen {
  width: 100%;
  min-height: 500px;
  text-align: center;
  background: url('/static/img/habitats/flat-bambooforest.jpg') no-repeat center;
  background-size: cover;
}

#battle-screen .side {
  width: 200px;
}

#battle-screen .player .stat-meter {
  left: 200px;
}

#battle-screen .enemy .stat-meter {
  right: 120px;
}

#battle-screen .stat-meter {
  font-size: 12px;
  line-height: 16px;
  position: relative;
  top: 80px;
  width: 120px;
  height: 16px;
  margin-bottom: 5px;
  border: #fff 1px solid;
  border-radius: 5px;
  background: #fff;
}

#battle-screen .stat-meter div {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  height: 100%;
  border-radius: 5px;
}

#battle-screen .stat-meter.health div {
  background: #68df76;
}

#battle-screen .stat-meter.stamina div {
  background: #687edd;
}

#battle-screen .stat-meter span {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
}

#battle-screen .battler img {
  padding: 5px;
}

#battle-screen .enemy img {
  @include filter-trans;
  cursor: pointer;
}

#battle-screen .enemy img:hover {
  padding: 0px;
  border: 5px dotted #e65715;
  filter: brightness(130%);
  -webkit-filter: brightness(130%); /* Chrome, Safari, Opera */
}

#battle-screen .battler:not(:first-child) {
  margin-top: -80px;
}

#battle-screen .battler.player:nth-child(2) {
  position: relative;
  left: 100px;
}

#battle-screen .battler.enemy:nth-child(2) {
  position: relative;
  left: -100px;
}
