@import '../assets/keyframes';

.bounce {
  @include bounce-up(5px, 1.5s);
}

.notification-fadeup {
  position: absolute;

  -webkit-animation: notification-fadeup 300ms ease-in forwards;
  animation: notification-fadeup 300ms ease-in forwards;
}
