@import '../assets/transitions';
@import '../assets/keyframes';

@import 'assets/sizes';

@import 'entities/main';
@import 'navbar';
@import 'notifications';

.banner {
  height: 7.6rem;
  padding: 1.8rem;
  text-align: center;
  background: $mainSoftColor url('/static/img/habitats/flat-bambooforest.jpg');
  background-size: cover;

  .logo {
    font-size: 4rem;
    font-weight: bold;

    img {
      @include filter-trans;
      height: 4rem;
    }
  }

  .logo:hover img {
    filter: drop-shadow(0px 0px 5px #eceb72);
    filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color=\'#ECEB72\')';
    -ms-filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color=\'#ECEB72\')';
    -webkit-filter: drop-shadow(0px 0px 5px #eceb72);
  }
}

.main-body {
  @extend %content-width;
  display: flex;
  flex-direction: row;
  min-height: 400px;
  margin: auto;
  padding: 1em 0;
  flex-shrink: 0;
}

.main-body-content {
  flex-grow: 1;
  padding: 0.5em .8rem 1em;
  background-color: $white;
  margin-top: .5rem;
}

.breadcrumb {
  font-size: 1.4rem;
  display: block;
  width: 100%;
  padding: .5rem 1rem;
}

.sidebar-login-form th.section-header {
  border-bottom: 1px $gray dotted;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 20%;
  padding: 1rem 1%;

  .pet-avatar-view {
    position: relative;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .active-pet-view {
    width: 80%;
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    z-index: 50;
  }

  .active-pet-view:hover {
    @include bounce-margin;
  }
}

.footer {
  @extend %content-width;
  font-size: 1.4rem;
  text-align: center;

  .social-icons {
    a {
      @include slow-color-trans;
      font-size: 2rem;
    }

    a:hover {
      text-decoration: none;
      color: $mainColor;
    }
  }
}

// The sidebar becomes horizontal at this width.
@media (max-width: 800px) {
  html {
    font-size: 50%;
  }

  .navbar-inner-container::before {
    display: none;
    width: 0%;
  }

  .main-body {
    flex-direction: column;
  }

  .avatar-view {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100px;
  }
  .sidebar {
    flex-direction: row;
    width: 100%;
    padding: 1rem 1%;

    .sidebar-section {
      width: 25%;
    }
  }
}
