@import '../assets/transitions';


$navHeight: 4rem;

// This is used to prevent the navbar from leaving an empty space in the layout
// when it's positioning changes.
.navbar-container {
  float: left;
  width: 100%;
  height: $navHeight;
}

.navbar {
  position: relative;
  width: 100%;
  z-index: 8000;
  height: $navHeight;
  text-align: center;
  background: $mainColor;
}

.navbar.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

a.navbar-link, a.navbar-link:visited {
  @include slow-color-trans;
  font-size: 1.8rem;
  line-height: $navHeight;
  display: inline-block;
  height: $navHeight;
  margin: 0 -2px;
  padding: 0 1rem;
  color: $white;

  label {
    cursor: pointer;
  }
}

a.navbar-link:hover {
  text-decoration: none;
  background: $mainDarkColor;
}

a.navbar-link.active {
  background: $mainDarkerColor;
}

.alert-number {
  font-size: 1rem;
  line-height: 1.7rem;
  position: absolute;
  display: block;
  box-sizing: border-box;
  min-width: 1.6rem;
  height: 1.6rem;
  margin-top: -3.8rem;
  margin-left: -1rem;
  padding: 0 .3rem;
  text-align: center;
  color: $white;
  border-radius: 5px;
  background: $accentColor;
}

.search {
  display: inline-block;
  height: $navHeight;
  padding: 0 .7rem;

  input {
    @include slow-color-trans;
    font-size: 1.4rem;
    float: left;
    width: 200px;
    height: 2.5rem;
    margin: 0;
    margin-top: -.1rem;
    padding: .3rem 2.5rem .3rem .5rem;
    color: $mainDarkColor;
    border: 0;
    background: $mainSoftColor;
  }

  input:focus {
    color: $black;
    outline: none;
    background: $white;
    box-shadow: -1px 1px 8px #eceb72, 1px -1px 8px #fff;
  }

  button {
    font-size: 1.4rem;
    line-height: 100%;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -2.6rem;
    padding: .5rem;
    cursor: pointer;
    color: $mainDarkColor;
    border: 0;
    border-radius: 0;
    background: none;
  }

  button:hover {
    background: none;
  }
}

.navbar-dropdown-container {
  display: inline-block;
  position: relative;
}

.navigation-user-links {
  display: inline-block;

  &.dropdown-menu {
    margin-left: -100px;
  }
}

.dropdown-menu {
  position: absolute;
  display: none;
  margin-left: -50px;
  width: 220px;
  min-height: 50px;
  margin-top: -0.25em;
  padding-bottom: 0.5em;
  border: 1px solid $neutralColor;
  background: $white;
  -webkit-box-shadow: 3px 8px 32px -13px $black;
  -moz-box-shadow: 3px 8px 32px -13px $black;
  box-shadow: 3px 8px 32px -13px $black;
  z-index: 999;

  ul {
    font-size: 0.8em;
    padding: 0;
  }

  a, a:visited {
    @include fast-color-trans;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    text-align: left;
  }

  ul a {
    padding: 0.25em 2px;
    padding-left: 32px;
    color: $gray;
  }

  a.highlight {
    color: $accentColor;
  }

  a:hover {
    text-decoration: none;
    background: $neutralColor;
  }

  .dropdown-separator {
    display: block;
    box-sizing: border-box;
    width: 210px;
    margin: 0.25em 4px 0.5em;
    border-bottom: 1px solid $neutralColor;
  }

  h3 {
    @extend .dropdown-separator;
    font-size: 1em;
    line-height: 130%;
  }
}

.dropdown-menu.shown, .shown {
  display: block;
}

.dropdown-menu.hidden, .hidden {
  display: none;
}

.navigation-main-links .navbar-link i {
  display: none;
}

// Prevent the navbar from being sticky on mobile because that's annoying.
@media (max-height: 500px) {
  .navbar.navbar-fixed {
    position: relative;
  }
}

@media (max-width: 1024px) {
  .search input {
    width: 150px;
  }
}

@media (max-width: 800px) {
  .search {
    // TODO: Make this actually show up but in responsive form. Can I do with without JS?
    display: none;
  }

  a.navbar-link {
    padding: 0 .3rem;
    font-size: 1.5rem;

    i {
      display: block;
    }
  }

  .navigation-main-links a.navbar-link {
    line-height: 100%;
    min-width: 3rem;

    i {
      padding-top: .5rem;
      display: block;
      width: 100%;
      font-size: 1.5rem;
      line-height: 2rem;
    }

    label {
      display: block;
      width: 100%;
      font-size: .5rem;
      line-height: 100%;
    }
  }
}
