{% extends "layout.html" %}
{% set page_title = "Estanya City Town Square" %}
{% block body %}
<h1>Estanya City Town Square</h1>
<img src="/static/img/npc/evana-devree.png" width="30%" class="left">
<p>
  Estanya City. The biggest city in all of Sayleus. A place where Luarians and
  Sayliens alike gather to meet and trade. Tourists stay here in the renowned
  Sunstead Inn where they can enjoy the moderate weather, the beautiful
  subtropical flora, and the short journey to the Dawnlands where the sky is
  an eternal sunrise. 
</p>
<p>
  You wander into the town and there are a lot of people here. It's a cool place, this Town Square.
</p>
{% endblock %}
