{% extends "layout.html" %}
{% set page_title = "Estanya City Town Square" %}
{% block body %}
<h1>Estanya City Town Square</h1>
<div class="npc-interaction">
  <div class="speech-bubble">Hey, you... want some items? They're <em>free</em>.</div>
  <div class="npc-bust">
    <img src="/static/img/characters/rufus-scippio.png"/>
  </div>
  <div class="line-break">
  <form method="post">
    <input type="hidden" name="soul_name" value="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class="dialogue-choice">
      Sure, give me the stuff.
    </button>
  </form>
  <a href="/town/" class="dialogue-choice" target="_blank" rel="noopener">
    Tell me about them.
  </a>
  <a href="/town/" class="dialogue-choice">
    Got anything else?
  </a>
  <a href="/reserve/" class="dialogue-choice">
    Material things are overrated.
  </a>
</div>

<p>
  Estanya City. A place where Luarians and Sayleans alike gather to meet and trade.
</p>
{% endblock %}
