/*****************************************************************
  --> Entities.scss
  This file defines basic and dungeon-specific entities.
  In the future, entities will be split up into
  dungeon-specific entity lists and imported here.

  TABLE OF CONTENTS:
    -- #0.1a Base Classes (You are here)
    -- #0.2a Base Entities
    -- #0.3a Cave Entities

*****************************************************************/

.entity {
  background-size: cover;
  display: inline-block;

  margin: 0 auto;
  padding: 0;
  line-height: 0;

  position: absolute;
  top: 10%;
  left: 10%;

  height: 80%;
  width: 80%;

  z-index: 1;
}

.dungeon-mini-map .entity {
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

/*****************************************************************
  -- #0.2a Base Entities
  ===============================================================
  Entities that are consistent across all dungeon types.
*****************************************************************/

// Player entity
.entity-0x1000 {
  background-image: url('/static/img/pets/velbird.png');

  animation: player-idle 5s ease-in-out infinite alternate;
  z-index: 2;

  &:after {
    width: 10px;
  }
} .simple .entity-0x1000 {
  background: red;
  animation: none;
}

@keyframes player-idle {
  0% {
    transform: scale(2) translateY(0px);
  }

  50% {
    transform: scale(2) translateY(3px);
  }

  100% {
    transform: scale(2) translateY(0px);
  }
}

// Exit portal
.entity-0x1001 {
  background: blue;
} .simple .entity-0x1001 {
  background: blue;
}

/*****************************************************************
  -- #0.3a Cave Entities
  ===============================================================
  What it says on the tin.
*****************************************************************/

// Slimes.
.entity-0x2000 {
  background: green;
} .simple .entity-0x2000 {
  background: green;
}

