{% from "_macros/pagination.html" import pagination %}
{% extends "layout.html" %}
{% set page_title = "Inbox" %}
{% block body %}
<h2>Your Inbox</h2>

{% if viewed_messages|length > 0 %}
<form method="post">
  <div class="padded full center">
    {{ pagination() }}
  </div>
  <div class="full padded center">
    <input type="submit" class="small" name="delete" value="Delete Selected Conversations" />
    <input type="submit" class="small" name="read" value="Mark Selected as Read" />
  </div>
  <table class="forum-table">
    <tr>
      <th>
        <input type="checkbox" class="check-all" data-name="message_id">
      </th>
      <th>
        Conversation Title
      </th>
      <th>
        Users
      </th>
      <th>
        Time
      </th>
      <th>
        Status
      </th>
    </tr>
    {% for message in viewed_messages %}
    <tr class="forum-board-row{% if not message.is_read %} highlight{% endif %}">
      <td>
        <input type="checkbox" name="message_id" value="{{ message.key }}">
      </td>
      <td>
        <a href="/conversation/{{ message.conversation_key.urlsafe() }}/">{{ message.title }}</a>
      </td>
      <td>
        With <a href="/user/tiff/">{{ message.recipient_key.urlsafe() }}</a>
      </td>
      <td>
        {{ message.time|relative_time }}
      </td>
      <td>
        {{ message|message_status }}
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="full padded center">
    <input type="submit" class="small" name="delete" value="Delete Selected Conversations" />
    <input type="submit" class="small" name="read" value="Mark Selected as Read" />
  </div>
  <div class="padded full center">
    {{ pagination() }}
  </div>
</form>
{% else %}
<p class="center full padded">
  You have no messages!
</p>
<p class="center full padded">
  <a href="/">Go back home?</a>
</p>
{% endif %}
{% endblock %}
