{% from "_macros/pagination.html" import pagination %}
{% from "_macros/user_link.html" import user_link %}
{% extends "layout.html" %}
{% set page_title = "Sample Conversation" %}
{% block body %}
<h2>Viewing Conversation: Sample</h2>
<form method="post" class="validated-form" data-error-id="message-post-error">
  <table class="form-table full padded">
    <tr>
      <td></td>
      <td id="message-post-error"></td>
    </tr>
    <tr>
      <th class="label">
        <label for="message-post-body">Reply</label>
      </th>
      <td>
        <textarea placeholder="Type your reply here" id="message-post-body"
          data-validators="required min:2" name="body"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" class="small" value="Post New Reply" name="post">
        <input type="submit" class="small" value="Preview Reply" name="preview">
      </td>
    </tr>
  </table>
</form>
{% for i in range(10) %}
<table class="conversation-message">
  <tr>
    <th rowspan="2">
      <div class="full">{{ user_link(g.user) }}</div>
      <a href="/user/"><img src="/static/img/SHC.png" style="width:80px"></a>
    </th>
    <td class="message-body">
      <span class="right small">4 June 2016 5:21 SST</span>
    </td>
  </tr>
  <tr>
    <td class="message-body">
      <p>
        User loves making forum posts, hello everyone. I need to type
        a onger thread because of my new job as a tester.
      </p>
    </td>
  </tr>
</table>
{% endfor %}
{% endblock %}
