{% from "_macros/pagination.html" import pagination %}
{% from "_macros/user_link.html" import user_link %}
{% extends "layout.html" %}
{% set page_title = "Sample Conversation" %}
{% block body %}
<h2>Viewing Conversation: Sample</h2>
<form method="post" class="validated-form" data-error-id="message-post-error">
  <table class="form-table full padded">
    <tr>
      <td></td>
      <td id="message-post-error"></td>
    </tr>
    <tr>
      <th class="label">
        <label for="message-post-body">Reply</label>
      </th>
      <td>
        <textarea placeholder="Type your reply here" id="message-post-body"
          data-validators="required min:2" name="text"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" class="small" value="Post New Reply" name="post">
        <input type="submit" class="small" value="Preview Reply" name="preview">
      </td>
    </tr>
  </table>
</form>
{% for message in conversation.messages|reverse %}
{% set message_user = message.user_key|user_object %}
<table class="conversation-message">
  <tr>
    <th rowspan="2">
      <div class="full">{{ user_link(message_user) }}</div>
      <div class="item">
        <a href="{{ message_user|user_url }}">
          <img src="/static/img/SHC.png">
        </a>
      </div>
    </th>
    <td class="message-body">
      <span class="right small">{{ message.time|expanded_relative_time }}</span>
    </td>
  </tr>
  <tr>
    <td class="message-body">
      {{ message.text }}
    </td>
  </tr>
</table>
{% endfor %}
{% endblock %}
