#blocks-mount {
  float: left;
  width: 100%;
  height: 600px;
  background-image: url('/static/img/bg/21.jpg');
  background-size: cover;
}

.blocks-container {
  width: 400px;
  margin: auto;
  margin-top: 50px;

  .blocks-info {
    font-size: 30px;
    font-weight: bold;
    line-height: 150%;
    float: left;
    width: 150px;
    height: 500px;
    color: #fff;
    font-family: 'Patrick Hand', sans-serif;

    text-shadow: 2px 2px #457792;
  }

  .blocks-grid {
    float: left;
    margin-top: 1px;
  }

  .grid-container {
    border-spacing: 0;
    background: rgba(255, 255, 255, 0.7);
  }

  .grid-container td {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
  }

  .grid-square-1 {
    border: #a200c6 1px solid;
    background: #d500f9;
  }

  .grid-square-2 {
    border: #b90d47 1px solid;
    background: #ec407a;
  }

  .grid-square-3 {
    border: #0a27cb 1px solid;
    background: #3d5afe;
  }

  .grid-square-4 {
    border: #0083c3 1px solid;
    background: #29b6f6;
  }

  .grid-square-5 {
    border: #c11003 1px solid;
    background: #f44336;
  }

  .grid-square-6 {
    border: #009520 1px solid;
    background: #00c853;
  }

  .grid-square-7 {
    border: #cc7400 1px solid;
    background: #ffa726;
  }
}
