{% extends "layout.html" %}
{% block body %}
<h2>User Settings: Profile Details</h2>
{% include 'user/settings/sidebar.html' %}
<p>
  These fields contain information about yourself that you'd like to have shown on your profile.
  They are entirely optional.
</p>
<form method="post" class="validated-form" data-error-id="user-settings-profile-error">
  <table class="form-table width-70">
    <tr>
      <td colspan="2" id="user-settings-profile-error"></td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-display-name">Display Name</label>
      </th>
      <td>
        <input type="text" name="display_name" placeholder="Your Display Name"
          id="user-settings-display-name" value="{{g.user.display_name}}"
          data-validators="required not_empty min:{{min_display_name_length}} max:{{max_display_name_length}}">
        <small class="form-tip">You can change your display name as often as you want. </small>
      </td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-gender">Gender</label>
      </th>
      <td>
        <input type="text" name="gender" placeholder="Gender" id="user-settings-gender"
          value="{{g.user.gender}}">
      </td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-pronouns">Pronouns</label>
      </th>
      <td>
        <input type="text" name="pronouns" placeholder="Pronouns" id="user-settings-pronouns"
          value="{{g.user.pronouns}}">
      </td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-bio">About Me</label>
      </th>
      <td>
        <textarea name="bio" placeholder="Write a bit about yourself for others to see. "
          id="user-settings-bio">{{g.user.bio}}</textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Save Details">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
