{% extends "user/settings/template.html" %}
{% set section_title = "Profile Details" %}
{% block section_body %}
<p>
  These fields contain information about yourself that you'd like to have shown on your profile.
  They are entirely optional.
</p>
<form method="post" class="validated-form" data-error-id="user-settings-profile-error">
  <table class="form-table full">
    <tr>
      <td colspan="2" id="user-settings-profile-error"></td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-status">Status</label>
      </th>
      <td>
        <input type="text" name="status" placeholder="Your Status"
          id="user-settings-status" value="{{g.user.status}}"
          data-validators="max:{{config['MAX_USER_STATUS_LENGTH']}}">
        <small class="form-tip">Your status is a bit of text displayed next to your name. </small>
      </td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-gender">Gender</label>
      </th>
      <td>
        <input type="text" name="gender" placeholder="Gender" id="user-settings-gender"
          value="{{g.user.gender}}">
      </td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-pronouns">Pronouns</label>
      </th>
      <td>
        <input type="text" name="pronouns" placeholder="Pronouns" id="user-settings-pronouns"
          value="{{g.user.pronouns}}">
      </td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-bio">About Me</label>
      </th>
      <td>
        <textarea name="bio" placeholder="Write a bit about yourself for others to see. "
          id="user-settings-bio">{{g.user.bio}}</textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Save Details">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
