{% extends "layout.html" %}
{% block body %}
<h2>User Settings: General</h2>
{% include 'user/settings/sidebar.html' %}
<form method="post">
  <table class="form-table">
    <tr>
      <th class="label break">
        <label>Receive notifications for pings?</label>
      </th>
      <td>
        <div class="switch">
          <label>
            <input type="radio" name="notified_on_pings" value="1"
              {% if g.user.notified_on_pings %}checked{% endif %}>
            <b>Yes</b>
          </label>
          <label>
            <input type="radio" name="notified_on_pings" value=""
              {% if not g.user.notified_on_pings %}checked{% endif %}>
            <b>No</b>
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <th class="label break">
        <label>Disable Human Avatars?</label>
      </th>
      <td>
        <div class="switch">
          <label>
            <input type="radio" name="ha_disabled" value="1"
              {% if g.user.ha_disabled %}checked{% endif %}>
            <b>Yes</b>
          </label>
          <label>
            <input type="radio" name="ha_disabled" value=""
              {% if not g.user.ha_disabled %}checked{% endif %}>
            <b>No</b>
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <th class="label break">
        <label>Autosubscribe to your own threads?</label>
      </th>
      <td>
        <div class="switch">
          <label>
            <input type="radio" name="autosubscribe_threads" value="1"
              {% if g.user.autosubscribe_threads %}checked{% endif %}>
            <b>Yes</b>
          </label>
          <label>
            <input type="radio" name="autosubscribe_threads" value=""
              {% if not g.user.autosubscribe_threads %}checked{% endif %}>
            <b>No</b>
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <th class="label break">
        <label>Autosubscribe to threads you post on?</label>
      </th>
      <td>
        <div class="switch">
          <label>
            <input type="radio" name="autosubscribe_posts" value="1"
              {% if g.user.autosubscribe_posts %}checked{% endif %}>
            <b>Yes</b>
          </label>
          <label>
            <input type="radio" name="autosubscribe_posts" value=""
              {% if not g.user.autosubscribe_posts %}checked{% endif %}>
            <b>No</b>
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Save Settings" name="submit">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
