{% extends "user/settings/template.html" %}
{% set section_title = "Change Password" %}
{% block section_body %}
<form method="post" class="validated-form" data-error-id="user-settings-password-error">
  <table class="form-table">
    <tr>
      <td colspan="2" id="user-settings-password-error"></td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-password-old">Old Password</label>
      </th>
      <td>
        <input type="password" name="old_password" placeholder="Password" id="user-settings-password-old"
          data-validators="required">
        <small class="form-tip">For security, please enter your old password</small>
      </td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-password-new">New Password</label>
      </th>
      <td>
        <input type="password" placeholder="Password" name="new_password" id="user-settings-password-new"
          data-validators="required min:{{config['MIN_PASSWORD_LENGTH']}} max:{{config['MAX_PASSWORD_LENGTH']}}">
        <small class="form-tip">Passwords must be at least {{config['MIN_PASSWORD_LENGTH']}} characters. </small>
      </td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-password-new2">Confirm Password</label>
      </th>
      <td>
        <input type="password" name="new_password2" placeholder="Password" id="user-settings-password-new2"
          data-validators="match_password:user-settings-password-new">
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Change Password">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
