{% extends "user/settings/template.html" %}
{% set section_title = "Change Password" %}
{% block section_body %}
<form method="post" class="validated-form" data-error-id="user-settings-password-error">
  <table class="form-table">
    <tr>
      <td colspan="2" id="user-settings-password-error"></td>
    </tr>
    <tr>
      <th class="label">
        {{ form.old_password.label }}
      </th>
      <td>
        {{ form.old_password() }}
        <small class="form-tip">For security, please enter your old password</small>
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.new_password.label }}
      </th>
      <td>
        {{ form.new_password() }}
        <small class="form-tip">Passwords must be at least {{config['MIN_PASSWORD_LENGTH']}} characters. </small>
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.confirm_password.label }}
      </th>
      <td>
        {{ form.confirm_password() }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Change Password">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
