{% extends "layout.html" %}
{% block body %}
<h2>User Settings: Change Username</h2>
{% include 'user/settings/sidebar.html' %}
<p>
  You may change your username unlimited times. However, each username change costs
  1 Premium Currency.
</p>
<form method="post" class="validated-form" data-error-id="user-settings-username-error">
  <table class="form-table">
    <tr>
      <td colspan="2" id="user-settings-username-error"></td>
    </tr>
    <tr>
      <th class="label">
        <label for="user-settings-username">Username</label>
      </th>
      <td>
        <input type="text" placeholder="Username" name="username" id="user-settings-username"
          data-validators="required min:3 max:40 username_chars no_repeated_underscores">
        <small class="form-tip">Valid characters: alphanumeric and -_.+!*()</small>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Change Username">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
