// CSS for bookshelves
#book-shelf {
  width: 100%;
}

#book-shelf .shelf-row {
  width: 100%;
  float: left;
  padding: 10px 0 0;
  border-bottom: 10px solid #8A5A50;
  position: relative;
  -webkit-box-shadow: 0px 45px 38px -42px rgba(122,105,100,1);
-moz-box-shadow: 0px 45px 38px -42px rgba(122,105,100,1);
box-shadow: 0px 45px 38px -42px rgba(122,105,100,1);
}

#book-shelf .shelf-row:after {
  content:"";
  box-sizing: border-box;
  display: block;
	border-bottom: 20px solid #593B3A;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100%;
  float: left;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

#book-shelf .shelf-row .book-square {
  position: relative;
  width: 20%;
  float: left;
  text-align: center;
  z-index: 10;
  margin-bottom: -10px;
}

// CSS for single books
#book-cover {
  width: 95%;
  box-sizing: border-box;
  padding: 6px 15px;
  background: #9C6967;
  height: 550px;
  border-bottom: 3px solid #4C2B2A;
  border-radius: 3px;
  position: relative;
  margin: auto;
  max-width: 900px;
}

#book-cover #spine {
  border-top: 1px solid #fff;
  border-bottom: 3px solid #291817;
  margin-top: -6px;
  width: 8%;
  position: absolute;
  left: 46%;
  height: 100%;
  background: #4C2B2A;
  z-index: 1;
  border-radius: 0 0 2px 2px;
}

#book-cover .book-page {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #d1cdc5;
  z-index: 20;
}

#book-cover .book-page .page-edge {
  width: 5%;
  background: repeating-linear-gradient(
    to right,
    #d1cdc5,
    #d1cdc5 1px,
    rgba(235,229,217,0.5) 2px,
    rgba(235,229,217,0.5) 3px
  );
  height: 100%;
}

#book-cover .book-page .page-main {
  width: 95%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  overflow: auto;
}

#book-cover #book-page-left {
  background: rgba(250,248,245,1);
  background: -moz-linear-gradient(left, rgba(250,248,245,1) 0%, rgba(255,255,255,1) 18%, rgba(252,250,247,1) 47%, rgba(255,254,252,1) 82%, rgba(235,229,217,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,248,245,1)), color-stop(18%, rgba(255,255,255,1)), color-stop(47%, rgba(252,250,247,1)), color-stop(82%, rgba(255,254,252,1)), color-stop(100%, rgba(235,229,217,1)));
  background: -webkit-linear-gradient(left, rgba(250,248,245,1) 0%, rgba(255,255,255,1) 18%, rgba(252,250,247,1) 47%, rgba(255,254,252,1) 82%, rgba(235,229,217,1) 100%);
  background: -o-linear-gradient(left, rgba(250,248,245,1) 0%, rgba(255,255,255,1) 18%, rgba(252,250,247,1) 47%, rgba(255,254,252,1) 82%, rgba(235,229,217,1) 100%);
  background: -ms-linear-gradient(left, rgba(250,248,245,1) 0%, rgba(255,255,255,1) 18%, rgba(252,250,247,1) 47%, rgba(255,254,252,1) 82%, rgba(235,229,217,1) 100%);
  background: linear-gradient(to right, rgba(250,248,245,1) 0%, rgba(255,255,255,1) 18%, rgba(252,250,247,1) 47%, rgba(255,254,252,1) 82%, rgba(235,229,217,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf8f5', endColorstr='#ebe5d9', GradientType=1 );
}

#book-cover #book-page-right {
  border-left: 0px;
  background: rgba(235,229,217,1);
  background: -moz-linear-gradient(left, rgba(235,229,217,1) 0%, rgba(255,254,252,1) 18%, rgba(252,250,247,1) 53%, rgba(255,255,255,1) 82%, rgba(250,248,245,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,229,217,1)), color-stop(18%, rgba(255,254,252,1)), color-stop(53%, rgba(252,250,247,1)), color-stop(82%, rgba(255,255,255,1)), color-stop(100%, rgba(250,248,245,1)));
  background: -webkit-linear-gradient(left, rgba(235,229,217,1) 0%, rgba(255,254,252,1) 18%, rgba(252,250,247,1) 53%, rgba(255,255,255,1) 82%, rgba(250,248,245,1) 100%);
  background: -o-linear-gradient(left, rgba(235,229,217,1) 0%, rgba(255,254,252,1) 18%, rgba(252,250,247,1) 53%, rgba(255,255,255,1) 82%, rgba(250,248,245,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,229,217,1) 0%, rgba(255,254,252,1) 18%, rgba(252,250,247,1) 53%, rgba(255,255,255,1) 82%, rgba(250,248,245,1) 100%);
  background: linear-gradient(to right, rgba(235,229,217,1) 0%, rgba(255,254,252,1) 18%, rgba(252,250,247,1) 53%, rgba(255,255,255,1) 82%, rgba(250,248,245,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe5d9', endColorstr='#faf8f5', GradientType=1 );
}
