@import "assets/variables";
@import "assets/transitions";

.switch {
	display: inline-block;
	margin: auto;
}

.switch label b {
	@include fast-color-trans;
	font-weight: normal;
	float: left;
	display: block;
	border: $mainsoftcolor 1px solid;
	border-left: 0px;
	min-width: 50px;
	text-align: center;
	padding: 3px 8px;
	cursor: pointer;
	background: #fff;
}

.switch label:first-of-type b {
	border-left: $mainsoftcolor 1px solid;
	border-radius: 8px 0 0 8px;
}

.switch label:last-of-type b {
	border-radius: 0 8px 8px 0;
}

.switch label b:hover {
	background: $accentsoft;
}

.switch input:checked + b {
	background: $neutralcolor;
}

.switch input {
	display: none;
}

input, textarea, select {
	font-size: 16px;
	line-height: 24px;
	padding: 2px 8px;
	border: 1px solid #ddd;
}

input.error, textarea.error {
	border-color: $errorText;
}

input[type="checkbox"].error {
	outline: 1px solid $errorText;
}

a.button {
	display: block;
	width: auto;
}

input[type="submit"], button, a.button, a.button:link, a.button:visited {
	@include slow-color-trans;
	font-size: 1em;
	line-height: 150%;
	border: none;
	background-color: $accent;
	color: $white;
	cursor: pointer;
	border-radius: 12px;
	padding: 6px 15px;
}

input[type="submit"].small, button.small {
	font-size: 0.8em;
	padding: 4px 10px;
}

input[type="submit"]:hover, button:hover, a.button:hover {
	background-color: $maincolor;
	text-decoration: none;
}

table.form-table {
	min-width: 60%;
}

table.form-table.width-70 {
	width: 70%;
}

table.form-table td.label, table.form-table th.label {
	text-align: right;
	min-width: 20%;
}

table.form-table td.label.break, table.form-table th.label.break {
	width: 30%;
	max-width: 30%;
}

table.form-table td, table.form-table th {
	background: none;
	padding: 5px;
	vertical-align: top;
}

table.form-table td input, table.form-table td textarea {
	width: 90%;
}

table.form-table td input[type="submit"], table.form-table td input[type="checkbox"] {
	width: auto;
}

table.form-table td textarea {
	height: 200px;
}

table.form-table td textarea.big {
	height: 300px;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}

table.form-table small.form-tip {
	width: 90%;
	display: block;
	font-size: 0.8em;
}
