@import "assets/variables";
@import "assets/transitions";

html {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
}

body {
	box-sizing: border-box;
	color: $black;
	background: $bgcolor;
	font-size: 16px;
	line-height: 22px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Arial, 'san serif';
}

img {
	border: 0px;
	max-width: 100%;
}

ul {
	margin: 0;
}

ul li {
	margin: 0;
}

h1 {
	display: block;
	font-size: 2em;
	margin: 0px;
	padding: 0.5em 0px;
}

p {
	display: block;
	font-size: 1em;
	margin: 1em 0px;
	padding: 0px;
}

a, a:active, a:visited {
	text-decoration: none;
	color: $accent;
}

a:hover {
	text-decoration: underline;
}

.tab {
	@include slow-color-trans;
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 8px 20px;
}

.tab:hover {
	background: $accentsoft;
}

.tab.selected {
	background: $mainsoftcolor;
}

.clearfix {
	height: 1px;
	float: left;
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: auto;
	text-align: center;
}

.flipped {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.full {
	width: 100%;
	float: left;
}

.full.padded, .vertical-padded {
	padding: 8px 0;
}

.faded {
	opacity: 0.5;
}

.small {
	font-size: 12px;
}

.normal {
	font-size: 14px;
}

table {
	text-align: left;
	box-sizing: border-box;
}

table.center {
	text-align: left;
}

th {
	text-align: center;
	font-weight: normal;
	background: $mainsoftcolor;
}

p.error {
	margin: 0;
	padding: 0;
	line-height: 150%;
	text-align: center;
	color: $errorText;
}

a.tiny-button {
	@include fast-color-trans;
	background-color: $white;
	padding: 6px 10px;
	margin: 3px;
	border-radius: 7px;
}

a.tiny-button:hover {
	background-color: $mainsoftcolor;
}

.divider {
	border-bottom: 1px $mainsoftcolor solid;
	width: 100%;
	margin-bottom: 16px;
}
