@import "assets/variables";
@import "assets/transitions";

@mixin content-width {
  box-sizing: border-box;
	width: 95%;
  min-width: 1024px;
  max-width: 1700px;
}

.content-width {
	@include content-width;
	margin: auto;
	height: 100%;
}

.content {
	@include content-width;
	margin: auto;
	padding: 10px 0;
	min-height: 400px;
	min-height: 100%;
	overflow-y: hidden;
}

.content h2 {
	width: 100%;
	text-align: center;
	margin: 0;
  margin-bottom: 5px;
	line-height: 35px;
  height: 35px;
	font-size: 23px;
	background: $mainsoftcolor;
	color: $maindarkcolor;
}

.content .page-area {
  box-sizing: border-box;
	padding: 8px 8px 20px;
	overflow: hidden;
  background: $white;
}

.breadcrumb {
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 5px 10px;
}

.container {
	width: 100%;
  min-width: 1024px;
	float: left;
}

.notification {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 1%;
	margin: 5px 0 8px;
	border-radius: 5px;
	clear: both;
  border: $highlightdark 1px solid;
	background: $highlightsoft;
}

.notification.error {
	border: $errorText 1px solid;
	background: $errorBg;
}

h3, table th.section-header {
  background: none;
  border-bottom: 1px $bordercolor solid;
  text-align: left;
  font-size: 20px;
  line-height: 25px;
  width: 100%;
  font-weight: normal;
}

#side-login-form table th.section-header {
  border-bottom: 1px $gray dotted;
}

h3 {
  padding: 4px;
  box-sizing: border-box;
}

#banner {
  background: $mainsoftcolor url('/static/img/habitats/flat-bambooforest.jpg');
  background-size: cover;
  text-align: center;
  height: 76px;
  padding: 18px;
  box-sizing: border-box;
}

a#logo {
	font-weight: bold;
  font-size: 40px;
}

a#logo img {
  @include filter-trans;
  height: 40px;
}

a#logo:hover img {
  -webkit-filter: drop-shadow(0px 0px 5px #ECEB72);
  filter: drop-shadow(0px 0px 5px #ECEB72);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#ECEB72')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#ECEB72')";
}

#nav-container {
  height: $navheight;
}

#navbar {
	background: $maincolor;
	text-align: center;
	height: $navheight;
  width: 100%;
  z-index: 8000;
  position: relative;
}

#navbar .menu {
  text-align: left;
}

#navbar.fixed {
  top: 0;
  left: 0;
  position: fixed;
}

#nav-links {
  display: inline-block;
}

#navigation-right {
  display: inline-block;
}

#dropdown-right {
  display: none;
  margin-top: 35px;
  margin-left: -100px;
  position: absolute;
  width: 220px;
  min-height: 50px;
  background: $white;
  border: 1px solid $neutralcolor;
  -webkit-box-shadow: 3px 8px 32px -13px $black;
  -moz-box-shadow: 3px 8px 32px -13px $black;
  box-shadow: 3px 8px 32px -13px $black;
  padding-bottom: 8px;
}

#dropdown-right.shown, .shown {
  display: block;
}

#dropdown-right.hidden, .hidden {
  display: none;
}

#dropdown-right .menu ul {
  padding: 0;
  font-size: 0.8em;
}

#dropdown-right .menu ul a {
  color: $gray;
  padding: 3px;
  padding-left: 30px;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

#dropdown-right .menu ul a.highlight {
  color: $accent;
}

#dropdown-right .menu ul a:hover {
  text-decoration: none;
}

.dropdown-separator {
  width: 210px;
  box-sizing: border-box;
  margin: 5px 5px 10px;
  display: block;
  border-bottom: 1px solid $neutralcolor;
}

#dropdown-right h3 {
  @extend .dropdown-separator;
  font-size: 1em;
  line-height: 130%;
}

#dropdown-right a, #dropdown-right a:visited {
  @include fast-color-trans;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  text-align: left;
}

#dropdown-right a:hover {
  background: $neutralcolor;
}


#navbar a.block-link, #navbar a.block-link:visited {
  @include slow-color-trans;
	display: inline-block;
	padding: 0 10px;
	margin: 0 -2px;
	color: $white;
	font-size: 19px;
	line-height: $navheight;
	height: $navheight;
}

#navbar a.block-link:hover {
	background: $maindarkcolor;
	text-decoration: none;
}

#navbar a.block-link.active {
  background: $maindarkercolor;
}

#navbar .alert-number {
  box-sizing: border-box;
  display: block;
  position: absolute;
  margin-top: -38px;
  margin-left: -10px;
  text-align: center;
  padding: 0 3px;
  min-width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 17px;
  background: $accent;
  border-radius: 5px;
  color: $white;
}

#navbar form.search {
	display: inline-block;
	height: $navheight;
	padding: 0 7px;
}

#navbar .search input {
	background: $mainsoftcolor;
	color: $maindarkcolor;
	padding: 3px 25px 3px 5px;
	height: 19px;
	width: 200px;
	border: 0;
	margin: 0;
  font-size: 14px;
	float: left;
  margin-top: -1px;
	@include slow-color-trans;
}

#navbar .search input:focus {
	background: $white;
	color: $black;
	outline: none;
	box-shadow: -1px 1px 8px #ECEB72, 1px -1px 8px #fff;
}

#navbar .search button {
	position: relative;
	margin-left: -26px;
	cursor: pointer;
  font-size: 14px;
  line-height: 100%;
	border: 0;
	background: none;
	color: $maindarkcolor;
	border-radius: 0;
	height: 25px;
	width: 25px;
  padding: 5px;
}

#social-icons a {
  @include slow-color-trans;
  font-size: 20px;
}

#social-icons a:hover {
  text-decoration: none;
  color: $maincolor;
}

// Total width should not exceed 180px
.sidebar {
	box-sizing: border-box;
	width: 16%;
	padding: 10px 1%;
  max-width: 300px;
}

.footer {
	text-align: center;
	font-size: 14px;
}

@media (max-width: 1200px) {
  #ha-panel {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  #sidebar-container {
    float: left;
    box-sizing: border-box;
    width: 17%;
  	padding: 10px 1%;
  }
  .sidebar {
    width: 100%;
    padding: 0;
  }
  .sidebar.right {
    float: left;
  }
}

@media (max-width: 1024px) {
  #navbar.fixed {
    position: relative;
  }
}
