@import 'assets/variables';
@import 'assets/transitions';

.section-menu {
  float: left;
  width: 25%;
  margin-right: 10px;
  border-right: 1px solid $neutralcolor;
}

.section-menu a {
  @include fast-color-trans;
  line-height: 150%;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}

.section-menu a:hover {
  background: $accentsoft;
}

.section-menu a:active, .section-menu a.active {
  background: $neutralcolor;
}
