@import "assets/variables";
@import "assets/transitions";

.section-menu {
  width: 25%;
  float: left;
  border-right: 1px solid $neutralcolor;
  margin-right: 10px;
}

.section-menu a {
  @include fast-color-trans;
  display: block;
  width: 100%;
  line-height: 150%;
  box-sizing: border-box;
  padding: 8px;
}

.section-menu a:hover {
  background: $accentsoft;
}

.section-menu a:active, .section-menu a.active {
  background: $neutralcolor;
}
