<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {% if page_title %}
      {{ page_title }} || Saylua
    {% else %}
      Saylua
    {% endif %}
  </title>
  <meta name="description" content="A new virtual petsite.">
  <meta name="author" content="Saylua">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ include_static('css/styles.min.css') }}">

  <link rel="icon" type="image/png" href="/static/favicon.png" />

  {% block header_scripts %}{% endblock %}

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body class="{% if use_admin_theme %}theme-admin{% endif %} {% if fullscreen %}hide-sidebar{% endif %}">
<div id="banner" class="banner">
  <a id="logo" href="/" class="logo"><img id="logo-image" src="/static/img/logo.png" alt="Saylua" title="Saylua" /></a>
</div>
<div id="navbar-container" class="navbar-container">
  <div id="navbar" class="navbar">
    {% include "navbar.html" %}
  </div>
</div>
{% block container %}
<div id="main-body" class="main-body">
  {% include "sidebar.html" %}
  <div id="main-body-column" class="main-body-column">
    <div id="notifications-container" class="notifications-container">
      {% with flashed_messages = get_flashed_messages(with_categories=true) %}
        {% if flashed_messages %}
          {% for category, flashed_message in flashed_messages %}
            {% if category == 'error' %}
              {% set className = ' error' %}
            {% endif %}
            <div class="notification{{ className }}">{{ flashed_message }}
              <a class="close-button" href="#" title="close">&#x00d7;</a>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div id="main-body-content" class="main-body-content">
      {% block body %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

<footer id="footer">
  <div class="sidebar-filler"></div>
  <div class="footer-content">
    <p>
      <a href="/online/">{{users_online_count|pluralize('User')}} Online</a> &bull;
      <a href="#">Back to Top</a> &bull;
      <a href="#">About</a> &bull;
      <a href="#">Credits</a> &bull;
      <a href="#">Terms of Service</a> &bull;
      <a href="#">Contact Us</a> &bull;
      <a href="#">Staff</a> &bull;
      <span id="social-icons">
        <a href="https://www.facebook.com/officialsaylua/" target="_blank">
          <i class="fa fa-fw fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/officialsaylua" target="_blank">
          <i class="fa fa-fw fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="http://saylua.tumblr.com/" target="_blank">
          <i class="fa fa-fw fa-tumblr" aria-hidden="true"></i>
        </a>
        <a href="https://www.reddit.com/r/saylua" target="_blank">
          <i class="fa fa-fw fa-reddit" aria-hidden="true"></i>
        </a>
      </span>
    </p>
    <p>
      <i class="fa fa-clock-o" aria-hidden="true"></i> <span id="site-time">{{saylua_time|show_time}}</span>
    </p>
    <p>
      &copy; 2016 <a href="/">Saylua</a>
    </p>
    {% if g.logged_in and g.user.get_role().can_access_admin %}
    <p>
      <a href="/admin/">Admin Panel</a>
    </p>
    {% endif %}
  </div>
</footer>
<script src="{{ include_static('js/Global.min.js') }}"></script>
{% block footer_scripts %}{% endblock %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81614406-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
