<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>
    {% if page_title %}
      {{ page_title }} || Saylua
    {% else %}
      Saylua
    {% endif %}
  </title>
  <meta name="description" content="A new virtual petsite. ">
  <meta name="author" content="Saylua">
  <meta name="viewport" content="width=1024">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/styles.min.css?v=01">

  <link rel="icon" type="image/png" href="/static/favicon.png" />

  <script src="/static/js/lib/reqwest.min.js"></script>
  <script src="/static/js/main.min.js"></script>
  {% block header_scripts %}{% endblock %}

  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<div class="overlay"></div>
<div id="banner" class="container">
  <a href="/" id="logo">
    <image src="/static/img/logo.png" alt="Saylua" title="Saylua" />
  </a>
</div>
<div class="container" id="nav-container">
  <div id="navbar">
    <div class="content-width">
      <a href="/" class="block-link" title="Home">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
      <a href="/den/" class="block-link" title="Pets">
        <i class="fa fa-paw" aria-hidden="true"></i>
      </a>
      <a href="/inventory/" class="block-link" title="Inventory">
        <i class="fa fa-suitcase" aria-hidden="true"></i>
      </a>
      <div id="nav-links">
        <a href="/explore/" class="block-link">Explore</a>
        <a href="/forums/" class="block-link">Forums</a>
        <a href="/games/" class="block-link">Games</a>
        <a href="/shop/vera/" class="block-link">Shops</a>
        <a href="/read/1/" class="block-link">World</a>
        <a href="/help/" class="block-link">Help</a>
      </div>

      <form class="search" action="/search/">
        <input type="text" placeholder="Search Saylua" name="q">
        <button><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
      {% if g.logged_in %}
        <div id="navigation-right">
          <div id="dropdown-right">
            <div id="user-menu" class="menu">
              <h3>Logged in as {{g.user.display_name}}</h3>
              <a href="{g.user|user_url}}"><img src="/static/img/icons/user.png"> My Profile</a>
              <a href="/settings/"><img src="/static/img/icons/cog.png"> Account Settings</a>
              <span class="dropdown-separator"></span>
              <a href="/achievements/{{g.user.username}}/"><img src="/static/img/icons/award_star_gold.png"> My Achievements</a>
              <a href="/friends/"><img src="/static/img/icons/group.png"> Friends List</a>
              <span class="dropdown-separator"></span>
              <a href="/logout/"><img src="/static/img/icons/lock_unlock.png"> Logout</a>
            </div>
            <div id="notifications-menu" class="menu">
              <h3>Latest Notifications</h3>
              <ul>
                {% for notification in notifications %}
                  <a href="/notification/{{notification.key.urlsafe()}}/"{% if not notification.is_read%} class="highlight"{% endif %}>
                    <li>{{ notification.text }}{% if notification.count > 1 %} ({{ notification.count }}){% endif %}</li>
                  </a>
                {% else %}
                  <a href="/notifications/">
                    <li>You have no notifications. </li>
                  </a>
                {% endfor %}
              </ul>
              <span class="dropdown-separator"></span>
              <a href="/notifications/"><img src="/static/img/icons/star_1.png"> View All Notifications</a>
            </div>
            <div id="messages-menu" class="menu">
              <h3>Latest Messages</h3>
              <ul>
                {% for message in messages %}
                  <a href="{{message|conversation_url}}"{% if not message.is_read %} class="highlight"{% endif %}>
                    <li>{{ message.title }}</li>
                  </a>
                {% else %}
                  <a href="/messages/">
                    <li>You have no messages. </li>
                  </a>
                {% endfor %}
              </ul>
              <span class="dropdown-separator"></span>
              <a href="/messages/"><img src="/static/img/icons/email.png"> View All Messages</a>
            </div>
          </div>
          <a href="{{g.user|user_url}}" class="block-link" data-section="user-menu">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
          <a href="/notifications/" class="block-link" data-section="notifications-menu">
            <i class="fa fa-bell" aria-hidden="true"></i>
            {% if notifications_count > 99 %}
              <span class="alert-number">99+</span>
            {% elif notifications_count > 0 %}
              <span class="alert-number">{{notifications_count}}</span>
            {% endif %}
          </a>
          <a href="/messages/" class="block-link" data-section="messages-menu">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            {% if messages_count > 99 %}
              <span class="alert-number">99+</span>
            {% elif messages_count > 0 %}
              <span class="alert-number">{{messages_count}}</span>
            {% endif %}
          </a>
        </div>
      {% else %}
        <a href="/login/" class="block-link">
          <i class="fa fa-user" aria-hidden="true"></i>
        </a>
      {% endif %}
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    {% if not fullscreen %}
      {% include "sidebars.html" %}
    {% endif %}
    <div class="page-area">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == 'error' %}
              <div class="notification error">Error: {{ message }} </div>
            {% else %}
              <div class="notification">{{ message }} </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
    </div>
  </div>
</div>

<div class="container footer">
  <div class="content-width">
    <p>
      <a href="/online/">{{users_online_count|pluralize('User')}} Online</a> &bull;
      <a href="#">Back to Top</a> &bull;
      <a href="#">About</a> &bull;
      <a href="#">Terms of Service</a> &bull;
      <a href="#">Contact Us</a> &bull;
      <a href="#">Staff</a> &bull;
      <span id="social-icons">
        <a href="https://www.facebook.com/officialsaylua/" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/officialsaylua" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="http://saylua.tumblr.com/" target="_blank">
          <i class="fa fa-tumblr" aria-hidden="true"></i>
        </a>
        <a href="https://www.reddit.com/r/saylua" target="_blank">
          <i class="fa fa-reddit" aria-hidden="true"></i>
        </a>
      </span>
    </p>
    <p>
      &copy; 2016 <a href="/">Saylua</a>
    </p>
  </div>
</div>
<div class="clearfix"></div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81614406-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
