<div id="notifications-container" class="notifications-container">
  {% with flashed_messages = get_flashed_messages(with_categories=true) %}
    {% if flashed_messages %}
      {% for category, flashed_message in flashed_messages %}
        {% if category == 'error' %}
          {% set className = ' error' %}
        {% endif %}
        <div class="notification{{ className }}">{{ flashed_message }}
          <a class="close-button" href="#" title="close">&#x00d7;</a>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% if g.logged_in %}
  {% if g.user.story_level == 0 %}
  <div class="notification">
    Don't forget to <a href="/intro/side/">pick your side</a>.
  </div>
  {% elif g.user.story_level == 1 %}
  <div class="notification">
    Don't forget to <a href="/intro/companion/">bring your companion</a>.
  </div>
  {% elif g.user.story_level == 2 %}
  <div class="notification">
    Don't forget to <a href="/intro/avatar/">dress yourself up</a>.
  </div>
  {% elif not g.user.email_confirmed %}
  <div class="notification notification-email-validation">
    <p>
      Confirm your email address to get access to more features on Saylua.
      We've sent a confirmation email to <strong>{{ g.user.email }}</strong>.
      <a href="/settings/email/">Change Email Address?</a>
    </p>

    <form method="post" action="/register/email/">
      <input type="submit" class="small" name="resend" value="Resend Confirmation?" />
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
  </div>
  {% endif %}
{% endif %}
