<div id="sidebar" class="sidebar">
  {% if g.logged_in %}
  <div id="avatar-section" class="sidebar-section">
    <div id="pet-avatar-view" class="pet-avatar-view">
      <a href="/avatar/" id="avatar-view" class="avatar-view">
        <img src="{{g.user.ha_url}}" id="avatar-image" />
      </a>
      <a href="/pet/shc/" id="active-pet-view" class="active-pet-view">
        <img src="{{ random_pet_image() }}" id="active-pet-image">
      </a>
    </div>
  </div>
  <div id="user-info-section" class="sidebar-section">
    <p>You are <a href="{{g.user|user_url}}">{{ g.user.name() }}</a></p>
    <p>
      <img src="/static/img/icons/weather_clouds.png">
      <a href="/bank/">{{ g.user.cloud_coins|pluralize('Cloud Coin') }}</a>
    </p>
    <p>
      <img src="/static/img/icons/star_1.png">
      <a href="/bank/">{{ g.user.star_shards|pluralize('Star Shard') }}</a>
    </p>
  </div>
  {% else %}
  <form id="sidebar-login-form" class="sidebar-section sidebar-login-form validated-form" action="/login/"
    method="post" data-error-id="sidebar-login-error">
    <div id="sidebar-login-error"></div>
    <table class="form-table center">
      <tr>
        <th class="h3">
          Login to Saylua
        </th>
      </tr>
      <tr>
        <td>
          {{ sidebar_form.username.label }}
          {{ sidebar_form.username() }}
        </td>
      </tr>
      <tr>
        <td>
          {{ sidebar_form.password.label }}
          {{ sidebar_form.password() }}
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" class="small" value="Login!" name="login">
        </td>
      </tr>
      <tr>
        <td>
          <p><a href="/login/recover/">Lost credentials?</a></p>
          <p><a href="/register/">Register!</a></p>
        </td>
      </tr>
    </table>
  </form>
  {% endif %}
</div>
