<div id="sidebar-container">
  <div class="sidebar left" id="left-bar">
    <div class="sidebar-content">
      <div class="sidebar-section flipped" id="ha-panel">
        <a href="/ha/"><img src="/api/ha/fd/1,8,3,4,2,7,6,9,11/"></a>
      </div>
      <div class="sidebar-section">
        <p>You are User</p>
        <p>
          <img src="/static/img/icons/coins.png"> 20 Comet Coins
        </p>
        <p>
          <img src="/static/img/icons/ruby.png"> 76 Star Shards
        </p>
      </div>
    </div>
  </div>
  <div class="sidebar right" id="right-bar">
    <div class="sidebar-content">
      <div class="sidebar-section">
        <div class="sidebar-header">Your Party</div>
        <a href="/pet/shc/"><img src="/static/img/SHC.png" class="left"></a>
      </div>
      <div class="sidebar-section">
        <a href="/pet/shc/"><img src="/static/img/SHC.png" style="width: 50%;" class="left"></a>
        <a href="/pet/shc/"><img src="/static/img/SHC.png" style="width: 50%;" class="left"></a>
        <p>Smoking Hot Chick is hungry! <a href="/room/shc/">Feed them?</a> </p>
      </div>
    </div>
  </div>
</div>
