{% from "_macros/user_link.html" import user_link %}
{% from "_macros/pet_avatar_view.html" import pet_avatar_view %}

<div id="sidebar" class="sidebar">
  {% if g.logged_in %}
  <div id="avatar-section" class="sidebar-section">
    {{ pet_avatar_view(g.user) }}
  </div>
  <div id="user-info-section" class="sidebar-section">
    <p>You are {{ user_link(g.user) }}</p>
    {% if g.user.companion %}
    <p>Your companion is <a href="{{ g.user.companion.url() }}">{{ g.user.companion.name }}</a></p>
    {% endif %}
    <p>
      <img src="/static/img/icons/weather_clouds.png">
      <a href="/bank/">{{ g.user.cloud_coins|pluralize('Cloud Coin') }}</a>
    </p>
    <p>
      <img src="/static/img/icons/star_1.png">
      <a href="/bank/">{{ g.user.star_shards|pluralize('Star Shard') }}</a>
    </p>
  </div>
  {% else %}
  <form id="sidebar-login-form" class="sidebar-section sidebar-login-form validated-form" action="/login/"
    method="post">
    <h3>Login to Saylua</h3>
    <table class="form-table center">
      <tr>
        <td>
          {{ sidebar_form.username_or_email.label }}
          {{ sidebar_form.username_or_email() }}
          <small class="form-tip" data-field-name="{{ sidebar_form.username_or_email.name }}"></small>
        </td>
      </tr>
      <tr>
        <td>
          {{ sidebar_form.password.label }}
          {{ sidebar_form.password() }}
          <small class="form-tip" data-field-name="{{ sidebar_form.password.name }}"></small>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" class="small" value="Login!" name="login">
        </td>
      </tr>
      <tr>
        <td>
          <p><a href="/login/recover/">Lost credentials?</a></p>
          <p><a href="/register/">Register!</a></p>
        </td>
      </tr>
    </table>
    {{ sidebar_form.csrf_token }}
  </form>
  {% endif %}
</div>
