{% from "_macros/forms.html" import form_row %}
{% extends "layout.html" %}
{% set page_title = "Pet Profile" %}
{% block header_scripts %}
<link rel="stylesheet" href="{{ include_static('css/pets.min.css') }}">
{% endblock %}
{% block body %}
<h1>Edit {{ pet.name }}'s Profile</h1>
<p class="center">
  <a href="{{ pet.url() }}">
    <img src="/static/img/icons/arrow_left.png" alt="arrow" title="Back" aria-label="Back" />
    Back to {{ pet.name }}'s Profile
  </a>
</p>
<p>
  <img src="{{ pet.image_url() }}" />
</p>
<form method="post" class="validated-form">
  <table class="form-table">
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.pronouns) }}
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Save Changes">
      </td>
    </tr>
  </table>
  {{ form.csrf_token }}
</form>

<h2>Other Actions</h2>

<a href="#abandon">Abandon {{ pet.name }}</a>

<div id="abandon" class="modal-overlay closed">
  <div class="modal">
    <h2>Are you sure you want to abandon {{ pet.name }}?</h2>
    <img src="{{ pet.image_url() }}" class="center" />
    <p class="center">
      If you abandon {{ pet.name }}, they will be sent to the reserve under
      Vera's care. They'll still be around, but you may never be able to
      adopt them again.
    </p>
    <form id="abandon" action="/abandon/" method="post">
      <input type="hidden" name="abandonee" value="{{ pet.id }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <button>
        Yes, I want to abandon {{ pet.name }}
      </button>
      <a href="#" class="link-button subtle-button">
        No, I've changed my mind.
      </a>
    </form>
  </div>
</div>

{% endblock %}
