{% from "_macros/forms.html" import form_row %}

{% extends "layout.html" %}
{% set page_title = "Pet Profile" %}
{% block header_scripts %}
<link rel="stylesheet" href="{{ include_static('css/pets.min.css') }}">
{% endblock %}
{% block body %}
<h1>Edit {{ pet.name }}'s Mini</h1>
<p class="center">
  <a href="{{ pet.url() }}#mini">
    <img src="/static/img/icons/arrow_left.png" alt="arrow" title="Back" aria-label="Back" />
    Back to {{ pet.name }}'s Profile
  </a>
</p>
<form method="post" class="validated-form">
  <table class="form-table">
    {{ form_row(form.nickname) }}
    {{ form_row(form.description) }}
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Save Changes" />
      </td>
    </tr>
  </table>
  {{ form.csrf_token }}
</form>
{% endblock %}
