{% from "_macros/forms.html" import form_row %}
{% from "_macros/user_link.html" import user_link %}

{% extends "layout.html" %}
{% set page_title = "Pet Profile" %}
{% block header_scripts %}
<link rel="stylesheet" href="{{ include_static('css/pets.min.css') }}">
<style>
.pet-room-background {
   background-image: url('{{ random_background_image() }}');
}
</style>
{% endblock %}
{% block body %}
{% set user_is_owner = g.user and pet.guardian_id == g.user.id  %}
<h1>{{ pet.name }}'s Room</h1>
<div id="pet-room">
  <div class="pet-room-background"></div>
  <div class="pet" id="pet-image-container">
    <img src="{{ pet.image_url() }}" />
  </div>
  {% if pet.mini %}
  <a href="#mini" class="mini-small">
    <img src="{{ pet.mini.image_url() }}" />
  </a>
  {% endif %}
</div>
{% if user_is_owner %}
<div class="pet-actions">
  <form id="accompany" action="/accompany/{{ pet.soul_name }}/" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class="subtle-button">
      <img src="/static/img/icons/compass.png" alt="compass" title="Accompany" aria-label="Accompany" />
      {% if g.user.companion_id == pet.id %}
      Stop Accompanying {{ pet.name }}
      {% else %}
      Accompany {{ pet.name }}
      {% endif %}
    </button>
  </form>
  <a href="/edit_pet/{{ pet.soul_name }}/" class="subtle-button">
    <img src="/static/img/icons/pencil.png" alt="pencil" title="Edit" aria-label="Edit" />
    Edit Profile
  </a>
</div>
{% elif pet.guardian_id is none %}
<div class="pet-actions">
  <form action="/reserve/" method="post">
    <input type="hidden" name="soul_name" value="{{ pet.soul_name }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class="subtle-button">
      <img src="/static/img/icons/heart.png" alt="heart" title="Adopt" aria-label="Adopt" />
      Adopt {{ pet.name }}
    </button>
  </form>
</div>
{% endif %}

<div class="pet-profile-column pet-profile-column-full">
  <div class="pet-profile-box">
    <h2>{{ pet.name }}'s Description</h2>
    {% if not pet.description %}
    <em>{{ pet.name }} doesn't have a description yet. </em>
    {% endif %}
    {{ pet.description|markdown }}
  </div>
</div>
<div class="pet-profile-info">
  <div class="pet-profile-column">
    <div class="pet-profile-box">
      <h2>{{ pet.name }}'s Stats</h2>
      <table>
        {% if pet.guardian %}
        <tr>
          <td>Guardian</td>
          <td> {{ user_link(pet.guardian) }} </td>
        </tr>
        {% endif %}
        <tr>
          <td>Name</td>
          <td>{{ pet.name }}</td>
        </tr>
        <tr>
          <td>Soul Name</td>
          <td>{{ pet.soul_name }}</td>
        </tr>
        <tr>
          <td>Species</td>
          <td><a href="{{ pet.species.url() }}">{{ pet.species.name }}</a></td>
        </tr>
        <tr>
          <td>Coat</td>
          <td><a href="{{ pet.coat.url() }}">{{ pet.coat.coat_name }}</a></td>
        </tr>
        {% if pet.bonding_day %}
        <tr>
          <td>Bonding Day</td>
          <td>{{ pet.bonding_day|show_date }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>Pronouns</td>
          <td>{{ pet.pronouns }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="pet-profile-column">
    <div class="pet-profile-box">
      <h2>{{ pet.name }}'s Favorite Things</h2>
      <div class="pet-favorite-things">
        {% for favorite in pet.favorites %}
        <img src="{{ favorite.image_url() }}" class="item" alt="{{ favorite.name }}" title="{{ favorite.name }}" aria-label="{{ favorite.name }}" />
        {% endfor %}
      </div>
    </div>
    {% if pet.mini %}
    <div class="pet-profile-box" id="mini">
      <h2>
        {{ pet.name }}'s Mini
        {% if user_is_owner %}
        <a href="#edit-mini" class="small">
          <img src="/static/img/icons/pencil.png" alt="pencil" title="Edit" aria-label="Edit" />
          Edit Mini
        </a>
        {% endif %}
      </h2>
      <div class="mini">
        <img src="{{ pet.mini.image_url() }}" />
      </div>
      <p class="mini-name">
        {{ pet.mini_friendship.name }}
        the <a href="{{ pet.mini.url() }}">{{ pet.mini.name }}</a>
      </p>
      <p>
        {{ pet.mini_friendship.description or pet.mini.description }}
      </p>
    </div>
    {% endif %}
  </div>
</div>

{% if user_is_owner and pet.mini %}
<div id="edit-mini" class="modal-overlay closed">
  <div class="modal">
    <a href="#mini" class="close">&times;</a>
    <h2>Edit {{ pet.name }}'s Mini</h2>
    <form method="post" action="/edit_mini/{{ pet.soul_name}}/" class="center validated-form">
      <table class="form-table">
        {{ form_row(mini_form.nickname) }}
        {{ form_row(mini_form.description) }}
        <tr>
          <td></td>
          <td>
            <input type="submit" name="submit" value="Save Changes" />
          </td>
        </tr>
      </table>
      {{ mini_form.csrf_token }}
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
{% block footer_scripts %}
<script src="{{ include_static('js/Dens.min.js') }}"></script>
{% endblock %}
