{% extends "layout.html" %}
{% set page_title = "Pet Profile" %}
{% block header_scripts %}
<link rel="stylesheet" href="{{ include_static('css/pets.min.css') }}">
{% endblock %}
{% block body %}
<h1>Kevin's Room</h1>
<div id="pet-room">
  <div class="room-background" style="background-image: url('{{ random_background_image() }}')"></div>
  <div class="pet" id="pet-image-container">
    <img src="{{ random_pet_image() }}">
  </div>
  <div class="mini-small">
    <img src="{{ random_mini_image() }}">
  </div>
</div>

<div class="pet-profile-column pet-profile-column-full">
  <div class="pet-profile-box">
    <h2>Kevin's Description</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
<div class="pet-profile-info">
  <div class="pet-profile-column">
    <div class="pet-profile-box">
      <h2>Kevin's Stats</h2>
      <table>
        <tr>
          <td>Owner</td>
          <td><a href="/user/">User</a></td>
        </tr>
        <tr>
          <td>Kevin's ID</td>
          <td>WildSwimmingBear</td>
        </tr>
        <tr>
          <td>Bonding Day</td>
          <td>March 20, 1994</td>
        </tr>
        <tr>
          <td>Pronouns</td>
          <td>She / her</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="pet-profile-column">
    <div class="pet-profile-box">
      <h2>Kevin's Favorite Things</h2>
      <img src="{{ random_item_image() }}" style="float: left;">
      <img src="{{ random_item_image() }}" style="float: left;">
      <img src="{{ random_item_image() }}" style="float: left;">
      <img src="{{ random_item_image() }}" style="float: left;">
    </div>
    <div class="pet-profile-box">
      <h2>Kevin's Mini</h2>
      {% for i in range(10) %}
      <div class="mini">
        <img src="{{ random_mini_image() }}">
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
{% block footer_scripts %}
<script src="{{ include_static('js/PetInteractions.min.js') }}"></script>
{% endblock %}
