{% from "_macros/pagination.html" import pagination %}
{% extends "layout.html" %}
{% set page_title = "Pet's Room" %}
{% block header_scripts %}
<script src="{{ include_static('js/PetRoom.min.js') }}"></script>
<link rel="stylesheet" href="{{ include_static('css/pets.min.css') }}">
{% endblock %}
{% block body %}
<h2>Flowering Oranda's Room</h2>
<div id="pet-room-container">
  <div class="center vertical-padded">
    <a href="/pet/shc/"><img src="/static/img/icons/arrow_left.png"> Back to Flowering Oranda's Profile</a>
  </div>
  <div id="pet-room">
    <div class="pet">
      <img src="/static/img/pets/arko.png" class="bounce">
    </div>
  </div>
  <div id="pet-room-actions">
    <a href="#room-feed" class="tab selected">Feed</a>
    <a href="#room-play" class="tab">Play</a>
    <a href="#room-decorate" class="tab">Decorate</a>
    <a href="#room-talk" class="tab">Talk</a>
    <div id="room-feed" class="action">
      <img src="/static/img/items/orange.png" style="float: left;">
      <img src="/static/img/items/peach.png" style="float: left;">
      <img src="/static/img/items/tomato.png" style="float: left;">
      <img src="/static/img/items/carrot.png" style="float: left;">
    </div>
    <div id="room-play" class="action">
      <ul>
        <li>Tickle Flowering Oranda</li>
        <li>Pet Flowering Oranda</li>
        <li>Compliment Flowering Oranda</li>
      </ul>
    </div>
    <div id="room-decorate" class="action">
      <img src="/static/img/items/orange.png" class="decoration-source" style="float: left;">
      <img src="/static/img/items/peach.png" class="decoration-source" style="float: left;">
      <img src="/static/img/items/tomato.png" class="decoration-source" style="float: left;">
      <img src="/static/img/items/carrot.png" class="decoration-source" style="float: left;">
    </div>
    <div id="room-talk" class="action">
      <ul>
        <li>Ask how they're doing</li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
