@import 'assets/variables';
@import 'assets/transitions';

// Pet rooms
#pet-room-container {
  width: 100%;
  margin: auto;
}

#pet-room {
  position: relative;
  width: 100%;
  height: 450px;
  background: url('/static/img/bg/1.jpg');
  background-size: cover;

  .pet {
    position: absolute;
    z-index: 10;
    top: 70px;
    left: 50%;
    margin-left: -150px;
  }

  // Pet shadow
  .pet::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 180px;
    left: 25px;
    display: block;
    width: 250px;
    height: 80px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 110px 20px -25px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 110px 20px -25px rgba(0,0,0,0.5);
    box-shadow: 0px 110px 20px -25px rgba(0,0,0,0.5);
  }
}

#pet-room-actions {
  .tab {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 25%;
    padding: 8px 20px;
    border: 1px solid $white;
    border-bottom: 1px solid $neutralColor;
    background: $mainSoftColor;
  }

  .tab:hover {
    background: $accentSoftColor;
  }

  .tab.selected {
    border: 1px solid $neutralColor;
    border-bottom: 1px solid $white;
    background: $white;
  }

  .action {
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid $neutralColor;
    border-top: none;
  }
}
