@import 'assets/variables';
@import 'assets/transitions';

#pet-room {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 45rem;

  .room-background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: url('/static/img/backgrounds/1.jpg');
    background-size: cover;
    box-shadow: 8rem 8rem 12rem #fff inset, -8rem -8rem 12rem #fff inset;
  }

  .mini-small {
    position: absolute;
    z-index: 9;
    top: 25rem;
    left: 50%;
    margin-left: 15rem;
  }

  .pet {
    position: absolute;
    z-index: 10;
    top: 7rem;
    left: 50%;
    margin-left: -16rem;
  }

  // Pet shadow
  .pet::after,
  .mini-small::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 45%;
    left: 5%;
    display: block;
    width: 90%;
    height: 30%;
    border-radius: 50%;
    box-shadow: 0 11rem 2rem -2.5rem rgba(0,0,0,0.4);
  }

  .mini-small::after {
    height: 35%;
    box-shadow: 0 3rem 1rem -1rem rgba(0,0,0,0.4);
  }
}

.pet-profile-info {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: center;
}

.pet-profile-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 0.8rem;

  align-items: stretch;

  &.pet-profile-column-full {
    width: 100%;
  }
}

.pet-profile-box {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em 1.6rem;
  border: $neutralDarkColor 1px solid;
}
