@import 'assets/variables';
@import 'assets/transitions';

.binary-pagination {
  font-size: 2em;
  width: 90%;
  margin: auto;

  span {
    color: #bbb;
  }

  span, a {
    @include fast-color-trans;
    display: block;
    float: left;
    width: 50%;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
  }

  a:hover {
    text-decoration: none;
    background-color: $accentSoftColor;
  }
}

// CSS for single books
#book-view {
  position: relative;
  box-sizing: border-box;
  width: 750px;
  max-width: 900px;
  height: 550px;
  margin: auto;
  padding: 6px 15px;
  border-bottom: 3px solid #4c2b2a;
  border-radius: 3px;
  background: #9c6967;

  .book-page {
    position: relative;
    z-index: 20;
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border: 1px solid #d1cdc5;
  }


  // The edges for the pages
  .book-page.left::before,
  .book-page.right::after {
    content: '';
    float: left;
    width: 5%;
    height: 100%;
    background: repeating-linear-gradient(to right, #d1cdc5, #d1cdc5 1px, #ebe5d9 2px, #ebe5d9 3px);
  }

  .book-page .page-main {
    float: left;
    overflow: auto;
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    padding: 15px;
  }

  .book-page.left {
    border-top-right-radius: 20px 10px;
    background: #faf8f5;
    background: -moz-linear-gradient(left, #faf8f5 0%, #fff 18%, #fcfaf7 47%, #fffefc 82%, #ebe5d9 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #faf8f5), color-stop(18%, #fff), color-stop(47%, #fcfaf7), color-stop(82%, #fffefc), color-stop(100%, #ebe5d9));
    background: -webkit-linear-gradient(left, #faf8f5 0%, #fff 18%, #fcfaf7 47%, #fffefc 82%, #ebe5d9 100%);
    background: -o-linear-gradient(left, #faf8f5 0%, #fff 18%, #fcfaf7 47%, #fffefc 82%, #ebe5d9 100%);
    background: -ms-linear-gradient(left, #faf8f5 0%, #fff 18%, #fcfaf7 47%, #fffefc 82%, #ebe5d9 100%);
    background: linear-gradient(to right, #faf8f5 0%, #fff 18%, #fcfaf7 47%, #fffefc 82%, #ebe5d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf8f5', endColorstr='#ebe5d9', GradientType=1);
  }

  .book-page.right {
    border-left: 0px;
    border-top-left-radius: 20px 10px;
    background: #ebe5d9;
    background: -moz-linear-gradient(left, #ebe5d9 0%, #fffefc 18%, #fcfaf7 53%, #fff 82%, #faf8f5 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ebe5d9), color-stop(18%, #fffefc), color-stop(53%, #fcfaf7), color-stop(82%, #fff), color-stop(100%, #faf8f5));
    background: -webkit-linear-gradient(left, #ebe5d9 0%, #fffefc 18%, #fcfaf7 53%, #fff 82%, #faf8f5 100%);
    background: -o-linear-gradient(left, #ebe5d9 0%, #fffefc 18%, #fcfaf7 53%, #fff 82%, #faf8f5 100%);
    background: -ms-linear-gradient(left, #ebe5d9 0%, #fffefc 18%, #fcfaf7 53%, #fff 82%, #faf8f5 100%);
    background: linear-gradient(to right, #ebe5d9 0%, #fffefc 18%, #fcfaf7 53%, #fff 82%, #faf8f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebe5d9', endColorstr='#faf8f5', GradientType=1);
  }
}

// The book spine
#book-view::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 46%;
  width: 8%;
  height: 100%;
  margin-top: -6px;
  border-top: 1px solid #fff;
  border-bottom: 3px solid #291817;
  border-radius: 0 0 2px 2px;
  background: #4c2b2a;
}
