{% from "_macros/pagination.html" import pagination %}
{% from "_macros/user_link.html" import user_link %}
{% extends "layout.html" %}
{% set page_title = "Users Online" %}
{% block body %}
<h2>Users Online</h2>
<div class="full center">
  {{ pagination(page_count=(users_online_count/50)|int) }}
</div>
<div class="row-5">
  {% for user in users_online %}
    <div class="col-1">
      {{ user_link(user) }}
    </div>
  {% else %}
    <p class="center full padded">
      No one is online!
    </p>
    <p class="center full padded">
      <a href="/">Go back home?</a>
    </p>
  {% endfor %}
</div>
<div class="full center">
  {{ pagination(page_count=(users_online_count/50)|int) }}
</div>
{% endblock %}
