@import 'assets/variables';

#puzzle-container {
  width: 98%;
	max-width: 1000px; // This makes the board look good zoomed out.
  margin: 1rem auto;
  border-collapse: collapse;
  border: 3px solid $black;

  td {
    position: relative;
    width: 11.111%;
    padding-bottom: 11.111%;
    border: 1px dotted $gray;

		&.puzzle-error-1 {
      background: $errorLightColor;
    }

		&.puzzle-error-2 {
      background: darken($errorLightColor, 10%);
    }

		&.puzzle-error-3 {
      background: darken($errorLightColor, 20%);
    }

    &:nth-child(3n) {
      border-right: 2px solid $black;
    }

    .puzzle-number {
      font-size: 4rem;
      position: absolute;
      left: 0;
      display: flex;
      width: 100%;
      height: 100%;
      text-align: center;

      align-items: center;
      justify-content: center;
    }

		input.puzzle-number {
			color: $mainColor;
			border: 0;
			padding: 0;
			background: transparent;
		}
  }

  tr:nth-child(3n) {
    border-bottom: 2px solid $black;
  }
}
