{% extends "layout.html" %}
{% set page_title = "Pet Profile" %}
{% block body %}
<h2>Smoking Hot Chick's Profile</h2>
<div class="center">
  <img src="/static/img/SHC.png" style="width: 350px; text-align: center">
  <br />
  <a href="#">Feed</a>
  <a href="#">Play</a>
  <a href="#">Edit</a>

</div>

<table style="width: 50%; float: left;">
  <tr>
    <th>
      Parents
    </th>
  <tr>
    <td>
      <img src="/static/img/velbird.png" style="width: 50%; float: left;">
      <img src="/static/img/SHC.png" style="width: 50%; float: left;">
    </td>
  </tr>
  </tr>
    <th>
      Children
    </th>
  </tr>
  <tr>
    <td>
      <img src="/static/img/SHC.png" style="width: 25%; float: left;">
      <img src="/static/img/SHC.png" style="width: 25%; float: left;">
      <img src="/static/img/SHC.png" style="width: 25%; float: left;">
      <img src="/static/img/SHC.png" style="width: 25%; float: left;">
    </td>
  </tr>
</table>
<table style="width: 50%; float: left;">
  <tr>
    <th colspan="2">
      Info
    </th>
  </tr>

  <tr>
    <td>Companion</td>
    <td><a href="/user/">User</a></td>
  </tr>
  <tr>
    <td>Soul Name</td>
    <td>WildSwimmingBear</td>
  </tr>

  <tr>
    <th colspan="2">
      Stats
    </th>
  </tr>
  <tr>
    <td>Attack</td>
    <td>0 (+1)</td>
  </tr>
  <tr>
    <td>Defense</td>
    <td>0 (+1)</td>
  </tr>
  <tr>
    <td>Height</td>
    <td>0 (+0)</td>
  </tr>
</table>

{% endblock %}
