{% extends "layout.html" %}
{% set page_title = "Pet Profile" %}
{% block body %}
<h2>Flowering Oranda's Profile</h2>
<div class="center" id="pet-info-top">
  <div class="pet" id="pet-image-container">
    <img src="/static/img/SHC.png">
  </div>
  <div class="full padded" id="pet-room-link">
    <a href="/room/shc/">Go to Flowering Oranda's Room</a>
  </div>
  <div class="full padded">

  </div>
</div>

<table style="width: 50%; float: left;" class="pet-info-table">
  <tr>
    <th colspan="2">
      Info
    </th>
  </tr>

  <tr>
    <td>Companion</td>
    <td><a href="/user/">User</a></td>
  </tr>
  <tr>
    <td>Soul Name</td>
    <td>WildSwimmingBear</td>
  </tr>

  <tr>
    <th colspan="2">
      Stats
    </th>
  </tr>
  <tr>
    <td>Happiness</td>
    <td>Extremely Happy</td>
  </tr>
  <tr>
    <td>Health</td>
    <td>50/50</td>
  </tr>
  <tr>
    <td>Attack</td>
    <td>0 (+1)</td>
  </tr>
  <tr>
    <td>Defense</td>
    <td>0 (+1)</td>
  </tr>
  <tr>
    <td>Height</td>
    <td>0 (+0)</td>
  </tr>
  <tr>
    <th colspan="2">
      Favorite Foods
    </th>
  <tr>
    <td colspan="2">
      <img src="/static/img/items/orange.png" style="float: left;">
      <img src="/static/img/items/peach.png" style="float: left;">
      <img src="/static/img/items/tomato.png" style="float: left;">
      <img src="/static/img/items/carrot.png" style="float: left;">
    </td>
  </tr>
</table>
<table style="width: 50%; float: left;" class="pet-info-table">
  <tr>
    <th>
      Parents
    </th>
  <tr>
    <td>
      <img src="/static/img/velbird.png" style="width: 50%; float: left;">
      <img src="/static/img/SHC.png" style="width: 50%; float: left;">
    </td>
  </tr>
  </tr>
    <th>
      Children
    </th>
  </tr>
  <tr>
    <td>
      <img src="/static/img/SHC.png" style="width: 25%; float: left;">
      <img src="/static/img/SHC.png" style="width: 25%; float: left;">
      <img src="/static/img/SHC.png" style="width: 25%; float: left;">
      <img src="/static/img/SHC.png" style="width: 25%; float: left;">
    </td>
  </tr>
</table>

{% endblock %}
