{% from "_macros/forms.html" import form_row, form_checkbox %}

{% extends "admin/template.html" %}
{% set section_title = "Manage Boards" %}
{% block section_body %}

<h2>Create New Board</h2>
<form method="post" class="validated-form">
  <table class="form-table">
    {{ form_row(form.title) }}
    {{ form_row(form.canon_name, tip="A unique name used in the board's URL. Valid characters: a-z, 0-9, _") }}
    {{ form_row(form.description) }}
    {{ form_row(form.order) }}
    {{ form_row(form.category_id) }}
    <tr>
      <td></td>
      <td>
        {{ form_checkbox(form.moderators_only) }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Add New Board" name="submit" />
      </td>
    </tr>
  </table>
  {{ form.csrf_token }}
</form>

<h2>Edit Existing Boards</h2>

{% for category in categories %}
  <h3>
    {{ category.title }}
  </h3>
  <table class="alternating-table">
    {% for board in category.boards %}
    <tr>
      <td>
        {{ board.title }}
      </td>
      <td>
        <a href="/admin/forums/boards/{{ board.canon_name }}/">Edit Board</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endfor %}
{% endblock %}
