{% from "_macros/forms.html" import form_row, form_checkbox %}

{% extends "admin/template.html" %}
{% set section_title = "Edit Existing Board" %}
{% block section_body %}

<h2>Edit Existing Board</h2>

<form method="post" class="validated-form">
  <table class="form-table">
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
    {{ form_row(form.order) }}
    <tr>
      <td></td>
      <td>
        {{ form_checkbox(form.is_news) }}
        {{ form_checkbox(form.moderators_only) }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Add New Board" name="submit" />
      </td>
    </tr>
  </table>
  {{ form.csrf_token }}
</form>

{% endblock %}
