@import 'assets/variables';
@import 'assets/mixins';

.dropdown-menu {
  @include variable(border-color, --neutralColor, $neutralColor);
  position: absolute;
  z-index: 999;
  top: -0.25em;
  left: -70px;
  display: none;
  flex-direction: column;
  width: 220px;
  min-height: 50px;
  margin-top: $navHeight;
  padding-bottom: 0.5em;
  text-align: left;
  border: 1px solid;
  background: $white;
  box-shadow: 3px 8px 32px -13px $black;

  align-items: stretch;

  // For the right menu.
  .menu {
    flex-direction: column;
    width: 100%;

    align-items: stretch;
  }

  ul {
    font-size: 0.8em;
    padding: 0;
  }

  a, a:visited {
    display: block;
    padding: 5px;
  }

  ul a {
    padding: 0.25em 0.2rem;
    padding-left: 3.2rem;
    color: $gray;
  }

  a.highlight {
    @include variable(color, --accentColor, $accentColor);
  }

  a:hover {
    @include variable(background-color, --neutralColor, $neutralColor);
    text-decoration: none;
  }

  .dropdown-separator {
    @include variable(border-color, --neutralColor, $neutralColor);
    display: block;
    width: 96%;
    margin: 0.25em 2% 0.5em 2%;
    border-bottom: 1px solid;
  }

  h3 {
    @extend .dropdown-separator;
    font-size: 1em;
    line-height: 130%;
  }
}

.dropdown-menu.open {
  display: flex;
}
