#profile-column {
  float: left;
  box-sizing: border-box;
  width: 280px;
  padding: 8px;

  fieldset {
    box-sizing: border-box;
    width: 100%;
    border: $neutralDarkColor 1px solid;

    table {
      font-size: 0.9em;
      margin: auto;
      word-wrap: break-word;

      th {
        font-weight: bold;
        width: 100px;
        text-align: center;
        background-color: transparent;
      }
    }
  }
}

#profile-container {
  width: 100%;
}

#profile-body {
  overflow: auto;
  min-height: 100%;
  padding: 1em .8rem;
}

.profile-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
