$black: #222;
$white: #fff;
$gray: #999;

$bgcolor: #e1e7e8;
$neutralcolor: #e0f2f1;

$mainsoftcolor: #c5ede8;
$maincolor: #0fbaa3;
$maindarkcolor: #0ba38f;
$maindarkercolor: #0a9381;

$bordercolor: #93ccc6;

$accent: #e45f56;
$accentborder: #f69a93;
$accentsoft: #f4cfcc;

$highlight: #f5e6ba;
$highlightdark: #decc97;
$highlightsoft: #fff4d4;

$navheight: 38px;

$errorText: #f03;
$errorBg: #fcc;
