$black: #222;
$white: #fff;
$gray: #999;

$bgcolor: #E1E7E8;

$neutralcolor: #E0F2F1;

$mainsoftcolor: #C5EDE8;
$maincolor: #0FBAA3;
$maindarkcolor: #0BA38F;
$maindarkercolor: #0A9381;

$bordercolor: #93CCC6;

$accent: #e45f56;

$accentborder: #f69a93;
$accentsoft: #f4cfcc;

$highlight: #F5E6BA;
$highlightsoft: #FFF4D4;

$navheight: 38px;


$errorText: #f69a93;
$errorBg: #f4cfcc;
