@import 'dungeon/cells';
@import 'dungeon/entities';

#dungeon-wrapper, #dungeon-wrapper > * {
  box-sizing: border-box;
}

#dungeon-wrapper {
  background: #222;
  width: 100%;

  position: relative;
}

#dungeon-client-mount {
  float: left;
  width: 70%;
}

#dungeon-debug-mount {
  float: left;
  width: 100%;
}

#dungeon-info-mount {
  float: left;

  width: 30%;
}

#dungeon-info-mount p {
  padding: 0px 15px;
}

.dungeon-map {
  background: #222;
  position: relative;

  height: 800px;
  width: 100%;
}

.dungeon-mini-map {
  background: #222;

  // FIXME: Temporary Band-aid
  margin-top: -6px;
}
