@import 'dungeon/cells';
@import 'dungeon/entities';

#dungeon-wrapper, #dungeon-wrapper > * {
  box-sizing: border-box;
}

#dungeon-wrapper {
  width: 100%;
}

#dungeon-client-mount {
  float: left;
  width: 70%;
}

#dungeon-info {
  float: left;
  width: 30%;
  padding-left: 5px;
}

.dungeon-map {
  background: #222;
}
