{% from "_macros/forms.html" import form_row %}

{% extends "layout.html" %}
{% set page_title = "Login" %}
{% block body %}
<h1>Login to Saylua</h1>

<form class="validated-form" method="post" id="login-form">
  <table class="form-table center">
    {{ form_row(form.username_or_email) }}
    {{ form_row(form.password) }}
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Login!" name="login">
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p><a href="/login/recover/">Lost username or password?</a></p>
        <p><a href="/register/">Register a new account!</a></p>
      </td>
    </tr>
  </table>
  {{ form.csrf_token }}
</form>
{% endblock %}
