{% extends "layout.html" %}
{% set page_title = "Login" %}
{% block body %}
<h1>Login to Saylua</h1>

<div id="login-error"></div>
<form class="validated-form" method="post" id="login-form" data-error-id="login-error">
  <table class="form-table center">
    <tr>
      <th class="label">
        {{ form.username.label }}
      </th>
      <td>
        {{ form.username() }}
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.password.label }}
      </th>
      <td>
        {{ form.password() }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Login!" name="login">
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p><a href="/login/recover/">Lost username or password?</a></p>
        <p><a href="/register/">Register a new account!</a></p>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
