{% extends "layout.html" %}
{% set page_title = "Registration" %}
{% block body %}
<h1>Register a New Account on Saylua</h1>

<div id="register-error"></div>
<form class="validated-form" method="post" id="register-form" data-error-id="register-error">
  {{ form.csrf_token }}
  <table class="form-table center">
    <tr>
      <th class="label">
        {{ form.username.label }}
      </th>
      <td>
        {{ form.username() }}
        <small class="form-tip">Valid characters: letters, numbers, and +~._-</small>
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.password.label }}
      </th>
      <td>
        {{ form.password() }}
        <small class="form-tip">Passwords must be at least {{config['MIN_PASSWORD_LENGTH']}} characters. </small>
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.confirm_password.label }}
      </th>
      <td>
        {{ form.confirm_password() }}
      </td>
    </tr>
    <tr>
      <th class="label">
        {{ form.email.label }}
      </th>
      <td>
        {{ form.email() }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        {{ form.accept_tos() }}
        {{ form.accept_tos.label }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        {% for error in form.recaptcha.errors %}
          {{ error }}
        {% endfor %}
        {{ form.recaptcha }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Register" name="register">
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="left">
        <p><a href="/login/recover/">Lost username or password?</a></p>
        <p><a href="/login/">Login to an existing account!</a></p>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
