<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Saylua</title>
  <meta name="description" content="Saylua. A world where you can adopt and grow with pets.">
  <meta name="author" content="Saylua">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/styles.min.css?v={{ version_id }}">
  <link rel="stylesheet" href="/static/css/home.min.css?v={{ version_id }}">

  <link rel="icon" type="image/png" href="/static/favicon.png" />

  <script src="/static/js/lib/reqwest.min.js"></script>
  <script src="{{ include_static('js/main.min.js') }}"></script>

  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body id="landing-page">
  <div class="background"></div>
  <div class="content">
    <img src="/static/img/logo.png" alt="Saylua" title="Saylua" id="logo" />
    <br /><img src="/static/img/SHC.png" id="pet" />
  </div>

<div class="clearfix"></div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81614406-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
