{% from "_macros/pagination.html" import pagination %}
{% extends "layout.html" %}
{% set page_title = thread.title %}
{% block body %}
<h2>{{ thread.title }}</h2>
<span class="breadcrumb">
  <a href="/forums/">Forums</a> &#187;
  <a href="/forums/board/{{ board.url_title }}/"> {{ board.title }}</a> &#187;
  {{ thread.title }}
</span>

<div class="full padded normal">
  <div class="left">
    <a class="tiny-button" href="#write-forum-reply">
      <img src="/static/img/icons/pencil.png">
      Write a Reply
    </a>
  </div>

  <div class="right">
    <a class="tiny-button" href="#">
      <img src="/static/img/icons/bell.png">
      Subscribe
    </a>
  </div>
</div>

<div class="center">
{{ pagination(page_count=page_count) }}
</div>
{% for post in posts %}
{% set creator = post.creator_key|user_from_key_string %}
<table class="forum-post" id="forum-post-{{ loop.index }}">
  <tr>
    <th colspan="2">
      <a href="#forum-post-{{ loop.index }}">Link This Post</a> |
      {{ post.created_time|expanded_relative_time }}
      <span class="right">
        <a href="#">Quote</a>  |
        <a href="#">Modify</a>
      </span>
    </th>
  </tr>
  <tr>
    <td class="forum-post-info">
      <a href="/ha"><img src="{{ creator.ha_url }}"></a>
    </td>
    <td class="forum-post-body">
      <p>
        {{ post.body }}
      </p>
      <div class="divider"></div>
      {{ creator.display_name }} hasn't set a signature yet.
    </td>
  </tr>
</table>
{% endfor %}

<div class="center">
{{ pagination(page_count=page_count) }}
</div>

<form method="post" class="validated-form" data-error-id="forum-post-error">
  <table class="forum-table form-table" id="write-forum-reply">
    <tr>
      <th class="section-header">
        Write a New Reply
      </th>
    </tr>
    <tr>
      <td id="forum-post-error"></td>
    </tr>
    <tr>
      <td class="center">
        <textarea placeholder="Type your post content here" id="forum-post-body"
          data-validators="required min:2" name="body"></textarea>
      </td>
    </tr>
    <tr>
      <td class="center">
        <input type="submit" value="Post New Reply" name="post">
        <input type="submit" value="Preview Reply" name="preview">
      </td>
    </tr>
  </table>
</form>
{% endblock %}
