{% extends "layout.html" %}
{% set use_admin_theme = True %}
{% set fullscreen = true %}
{% set page_title = "Admin Panel: " + section_title %}
{% block body %}
<h1>Admin Panel: {{ section_title }} </h1>
<div class="admin-panel-body">
  <div class="admin-panel-menu">
    <h4>Items</h4>
    <a href="/admin/items/add/"{%- if request.url_rule.endpoint == 'admin_panel_items_add' %} class="active"{% endif %}>
      Add New Items
    </a>
    <a href="/admin/items/edit/"{%- if request.url_rule.endpoint == 'admin_panel_items_edit' %} class="active"{% endif %}>
      Edit Items
    </a>
    <h4>Users</h4>
    <a href="/admin/user/"{%- if request.url_rule.endpoint == 'user_manage' %} class="active"{% endif %}>
      Manage Users
    </a>
    <a href="/admin/user/invite/"{%- if request.url_rule.endpoint == 'user_invite' %} class="active"{% endif %}>
      Manage Invite Codes
    </a>
    <h4>Forums</h4>
    <a href="/admin/forums/newboard/"{%- if request.url_rule.endpoint == 'new_board' %} class="active"{% endif %}>
      Add New Boards
    </a>
    <a href="/admin/forums/newcategory/"{%- if request.url_rule.endpoint == 'new_board_category' %} class="active"{% endif %}>
      Add New Board Category
    </a>
  </div>
  <div class="admin-panel-content">
    {% block section_body %}{% endblock %}
  </div>
</div>
{% endblock %}
