{% from "_macros/highlighted_link.html" import highlighted_link %}

{% extends "layout.html" %}
{% set use_admin_theme = True %}
{% set fullscreen = true %}
{% set page_title = "Admin Panel: " + section_title %}

{% block header_scripts %}
{% block section_header_scripts %}{% endblock %}
{% endblock %}

{% block body %}
<h1>Admin Panel: {{ section_title }} </h1>
<div class="admin-panel-body">
  <div class="section-sidebar">
    <h4>Items</h4>
    {{ highlighted_link('Add New Items', 'items.admin_add') }}
    {{ highlighted_link('Edit Items', 'items.admin_edit') }}
    <h4>Users</h4>
    {{ highlighted_link('Manage Users', 'users.admin_manage') }}
    {{ highlighted_link('Manage Invite Codes', 'users.admin_invite') }}
    <h4>Forums</h4>
    {{ highlighted_link('Manage Boards', 'forums.admin_boards') }}
    {{ highlighted_link('Manage Categories', 'forums.admin_categories') }}
  </div>
  <div class="admin-panel-content">
    {% block section_body %}{% endblock %}
  </div>
</div>
{% endblock %}
