$black: #222;
$white: #fff;

$bgcolor: #f4debf;
$softcolor: #c8eac3;
$darkcolor: #2c874c;

$neutralcolor: #e2f6e0;

$maincolor: #339e59;
$mainlight: #4fa76a;

$bordercolor: #a3d39c;

$accent: #e45f56;
$accentborder: #f69a93;
$accentsoft: #f4cfcc;
