$black: #222;
$white: #fff;

$bgcolor: #E1E7E8;
$softcolor: #BEE8DE;
$darkcolor: #298F77;

$neutralcolor: #E4F2EF;

$maincolor: #34B394;
$mainlight: #4fa76a;

$bordercolor: #9DCCC1;

$accent: #e45f56;
$accentborder: #f69a93;
$accentsoft: #f4cfcc;

$navheight: 38px;
