$black: #222;
$white: #fff;

$bgcolor: #ffffcc;
$softcolor: #c8eac3;
$darkcolor: #308C45;

$neutralcolor: #e2f6e0;

$maincolor: #3AA152;
$mainlight: #4fa76a;

$bordercolor: #a3d39c;

$accent: #e45f56;
$accentborder: #f69a93;
$accentsoft: #f4cfcc;

$navheight: 38px;
