{% extends "layout.html" %}
{% set page_title = "Your Avatar" %}
{% set fullscreen = True %}
{% set hide_reminders = True %}

{% block body %}
<h1>And Finally, the Fashion</h1>
<p>
  {{ g.user.side_name() }} calls you!
  {% if starter %}
  With your trusty companion {{ starter.name }} the {{ starter.species.name }} by your side,
  you're ready to go!
  {% endif %}
  Except... You'll want to make sure you make a
  great first impression on your neighbors.
</p>
<h3>
  How will you present yourself?
</h3>

<form method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <button name="save">
    Human avatars haven't been implemented yet. Just click this button.
  </button>
</form>
{% endblock %}
