{% extends "layout.html" %}
{% set page_title = "Pick Your Side" %}
{% set fullscreen = True %}
{% set hide_reminders = True %}

{% block body %}
<h1>Starting Your Journey</h1>
<p>
  It was time for you to head out for the next chapter of your life. You were
  ready to move closer to the countryside, a place where you could be closer to
  nature.
</p>
<p>
  The planet of Saylua is divided into two main sides, a dark side and a light
  side. Both sides have their own draws, and you can choose to live in either.
</p>
<h3>
  Which side will you choose?
</h3>
<div class="grid-container">
  <div class="grid-element-half" id="sayleus">
    <img src="{{ include_static('img/backgrounds/sayleus.jpg') }}" />
    <strong>Sayleus, the light side</strong>
    <p>
      In Sayleus, vivid meadows often transition into deep woods where the light
      shines brightly through the trees. The light side is home to many large,
      thriving plants and elegant creatures.
    </p>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button name="side_id" value="0">Move to the Light Side?</button>
    </form>
  </div>
  <div class="grid-element-half" id="luaria">
    <img src="{{ include_static('img/backgrounds/luaria.jpg') }}" />
    <strong>Luaria, the dark side</strong>
    <p>
      Luaria is covered in a variety of magical plants and creatures. Although
      the side is engulfed by an endless darkness, the presence of high
      amounts of magical energy has allowed Luaria to prosper in its own ways.
    </p>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button name="side_id" value="1">Move to the Dark Side?</button>
    </form>
  </div>
</div>

<p>
  Of course, you shouldn't worry too much if you regret your decision down the
  road. It will always be possible for you to move again.
</p>
{% endblock %}
