@import 'assets/variables';
@import 'assets/transitions';

table.forum-table {
  width: 100%;
  margin-bottom: 4rem;
  border-collapse: collapse;

  td, th {
    padding: .4rem;
  }

  th {
    font-size: 1.2rem;
    text-align: left;
    background: none;
    font-weight: normal;
  }

  th.section-header {
    padding-top: 20px;
  }

  .forum-board-row,
  .forum-thread-row {
    @include fast-color-trans;
  }

  .forum-board-row.highlight {
    background: $highlightSoftColor;
  }

  .forum-board-row.highlight td {
    border-bottom: 1px $highlightColor solid;
  }

  .forum-board-row td {
    font-size: 14px;
    vertical-align: center;
    border-bottom: 1px $mainSoftColor solid;
  }

  .forum-thread-row:nth-child(odd) {
    background: $neutralColor;
  }

  .forum-thread-row.highlight:nth-child(n) {
    background-color: $highlightSoftColor;
  }

  .forum-thread-row.highlight:nth-child(odd) {
    background-color: $highlightColor;
  }

  .forum-board-row:hover,
  .forum-thread-row:nth-child(n):hover {
    background-color: $accentSoftColor;
  }

  td.forum-board-icon {
    width: 60px!important;
    min-width: 60px;
  }

  td.forum-board-info {
    width: 54%;
    a {
      display: block;
      float: left;
      overflow: auto;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    a:hover .forum-board-link {
      text-decoration: underline;
    }

    a p,
    a:hover p {
      line-height: 1.8rem;
      margin: 0;
      text-decoration: none;
      color: $black;
      border: 0;
    }
  }

  td.forum-thread-info {
    width: 50%;

    a {
      line-height: normal;
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    a:hover .forum-thread-link {
      display: block;
      width: 100%;
      text-decoration: underline;
    }

    a p.small,
    a:hover p.small {
      margin: .5rem 0;
      text-decoration: none;
      color: $black;
    }
  }

  td.forum-thread-icon {
    width: 1.6rem;
    text-align: center;
  }

  td.forum-latest-post {
    font-size: 1.2rem;
    width: 25%;
  }
}

table.forum-post {
  box-sizing: border-box;
  width: 98%;
  margin: 2rem 1%;
  padding: 0;
  border-collapse: collapse;
  border: 1px $mainSoftColor solid;

  th {
    font-size: 1.4rem;
    font-weight: normal;
    padding: .3rem .8rem;
    text-align: left;
    background: $mainSoftColor;
  }

  td {
    padding: .5rem;
  }

  .forum-post-info {
    width: 150px;
    text-align: center;
  }
}
