@import 'assets/variables';
@import 'assets/transitions';

.tab {
  @include slow-color-trans;
  display: block;
  float: left;
  padding: .8rem 2rem;
}

.tab:hover {
  background: $accentSoftColor;
}

.tab.selected {
  background: $mainSofterColor;
}

.clearfix {
  float: left;
  clear: both;
  height: 1px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: auto;
  text-align: center;
}

.flipped {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.third {
  width: 33%;
}

.faded {
  opacity: 0.5;
}

.small {
  font-size: 12px;
}

.normal {
  font-size: 14px;
}

p.error {
  line-height: 150%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $errorColor;
}

a.tiny-button {
  @include fast-color-trans;
  margin: 3px;
  padding: 6px 10px;
  border-radius: 7px;
  background-color: $white;
}

a.tiny-button:hover {
  background-color: $mainSofterColor;
}

.divider {
  width: 100%;
  margin-bottom: 16px;
  border-bottom: 1px $mainSofterColor solid;
}
