@import 'assets/variables';

/*
 * A file for miscellaneous utility classes and declarations.
 * These are things which arguably should be done with inline styles rather
 * than with classes that are re-used, but are too useful to pass up on.
 */

small {
  font-size: $smallFontSize;
}

// This is a utility class used to specify where text should line break when needed. 
span.line {
  display: inline-block;
}

.center {
  margin: auto;
  text-align: center;
}

.flipped {
  transform: scaleX(-1);
  filter: FlipH;
}

.faded {
  opacity: 0.5;
}
