@import '../../assets/variables';

.form-table {
  width: 90%;
  padding: 1em 0;
  text-align: left;

  .label {
    width: 25%;
    text-align: right;
  }

  td, th {
    font-weight: normal;
    padding: 0.5em 0.8rem;
    vertical-align: top;
    background: none;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"], 
  textarea {
    width: 100%;
  }

  textarea {
    height: 200px;
    &.big {
      width: 100%;
      height: 300px;
      margin: 0;
    }
  }

  .form-tip {
    font-size: 0.8em;
    line-height: 1.6em;
    display: block;
    width: 100%;
    min-height: 1.6em;
    margin: 0;
    text-align: left;

    &.error {
      color: $errorColor;
    }
  }

  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;

    align-items: stretch;

    tr {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0.5em 0.8rem;

      align-items: stretch;

      th, td, .label {
        display: block;
        width: 100%;
        padding: 0.25em 0;
        text-align: left;
      }
    }
  }
}
