.form-table {
  width: 100%;

  td.label, th.label {
    min-width: 20%;
    text-align: right;
    &.break {
      width: 30%;
      max-width: 30%;
    }
  }

  td, th {
    padding: .8rem 0.5em;
    vertical-align: top;
    background: none;
    font-weight: normal;
    height: 7rem;
  }

  input, textarea {
    width: 90%;
  }

  input[type='submit'], input[type='checkbox'] {
    width: auto;
  }

  textarea {
    height: 200px;
    &.big {
      width: 100%;
      height: 300px;
      margin: 0;
    }
  }

  .form-tip {
    font-size: 0.8em;
    display: block;
    width: 90%;
  }
}
