{% from "_macros/user_link.html" import user_link %}

{% extends "admin/template.html" %}
{% set section_title = "Manage Users" %}
{% block section_body %}

<h2>Enter Username</h2>

<form method="get">
  <input type="text" placeholder="Username" name="username" />
  <input type="submit" value="Manage User" />
</form>


<h2>Current Users on Site</h2>
<table class="alternating-table">
  {% for user in users %}
  <tr>
    <td>
      {{ user_link(user) }}
    </td>
    <td>
      <a href="/admin/user/?username={{ user.name }}">Manage User</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
